<!DOCTYPE html>
<div th:replace="~{include/admin-header :: header}"></div>
<div th:replace="~{admin/admin-side :: side}"></div>
<link rel="stylesheet" href="/css/admin-product.css">
<body>
<input type="hidden" id="initialCurrentPage" th:value="${currentPage}">
<input type="hidden" id="initialTotalPages" th:value="${totalPages}">
<input type="hidden" id="initialCategory" th:value="${category}">
<div class="body-wrapper">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <div class="col-lg-12 mb-12 d-flex">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="mb-3 mb-sm-0">
                                <h5 class="card-title fw-semibold">상품 목록</h5>
                            </div>
                        </div>
                        <div class="product-filters">
                            <ul>
                                <li th:classappend="${category == 'all'} ? 'active'" data-category="all">전체</li>
                                <li th:classappend="${category == 'dog'} ? 'active'" data-category="dog">강아지</li>
                                <li th:classappend="${category == 'cat'} ? 'active'" data-category="cat">고양이</li>
                                <li th:classappend="${category == 'other'} ? 'active'" data-category="other">공용</li>
                            </ul>
                        </div>
                        <div class="card-body w-100">

                            <div class="row product-lists">
                                <table class="table mb-0 align-middle">
                                    <thead class="text-dark fs4">
                                    <tr>
                                        <th><input type="checkbox" /></th>
                                        <th>대표이미지</th>
                                        <th>상품명</th>
                                        <th>판매가</th>
                                        <th>수량</th>
                                        <th>상품분류</th>
                                        <th>상품 등록일</th>
                                        <th>수정</th>
                                    </tr>
                                    </thead>
                                    <tbody id="product-container">
                                    <tr th:each="product : ${products}">
                                        <input type="hidden" id="productId" class="productId" th:value="${product.productId}">
                                        <td><input type="checkbox" class="product-checkbox" th:value="${product.productId}"/></td>

                                        <td class="product-image">
                                            <img th:src="${#strings.startsWith(product.image, 'https://')} ? ${product.image} : @{'data:image/png;base64,' + ${product.image}}" alt="상품 이미지">
                                        </td>

                                        <td>  <p th:text="${#strings.abbreviate(product.name, 12)}"></p>
                                        </td>
                                        <td th:text="${product.price}">
                                        </td>
                                        <td>
                                            <p th:text="${product.quantity}"></p>
                                        </td>
                                        <td th:text="${product.category}">강아지/의류</td>
                                        <td th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd')}"></td>
                                        <td>
                                            <div class="actions">
                                                <button class="btn btn-outline-light-primary" th:data-product-id="${product.productId}"
                                                        data-bs-toggle="modal" data-bs-target="#new-staticBackdrop">수정</button>
                                                <input type="button" class="btn btn-danger" value="삭제">
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                            <div id="pagination-container" class="pagination-container"></div>
                            <button type="button" class="btn btn-light-primary d-flex justify-content-end" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                상품 등록하기
                            </button>
                        </div>
                        <div class="search d-flex justify-content-center align-content-center d-flex">
                            <label for="searchKeyword">
                                <input type="text" id="searchKeyword" class="search-input" placeholder="검색어를 입력하세요">
                            </label>
                            <button id="search-btn" class="btn btn-info"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-lg" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">새로운 상품 등록</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <table class="table mb-0 align-middle">
                        <tr>
                            <th>상품명</th>
                            <td>
                                <input type="text" name="productName" id="name">
                            </td>
                        </tr>
                        <tr>
                            <th>대표 이미지</th>
                            <td>
                                <input type="file" id="image" accept="image/*">
                                <img id="imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 200px; max-height: 200px;">
                            </td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>
                                <input type="text" name="price" id="price">
                            </td>
                        </tr>
                        <tr>
                            <th>상세 이미지</th>
                            <td>
                                <input type="file" id="detail-image" accept="image/*">
                            </td>
                        </tr>
                        <tr>
                            <th>카테고리</th>
                            <td>
                                <select name="category" id="category">
                                    <option value="강아지">강아지</option>
                                    <option value="고양이">고양이</option>
                                    <option value="공용">공용</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>수량</th>
                            <td>
                                <input type="number" name="quantity" id="quantity">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">등록</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal modal-lg" id="new-staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="new-staticBackdropLabel">상품정보 수정하기</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <table class="table mb-0 align-middle">
                        <tr>
                            <th>상품명</th>
                            <td>
                                <input type="text" name="productName" id="new-name">
                            </td>
                        </tr>
                        <tr>
                            <th>대표 이미지</th>
                            <td>
                                <input type="file" id="new-image" accept="image/*">
                                <img id="new-imagePreview" src="#" alt="Image Preview" style="display: none; max-width: 200px; max-height: 200px;">
                            </td>
                        </tr>
                        <tr>
                            <th>가격</th>
                            <td>
                                <input type="text" name="price" id="new-price">
                            </td>
                        </tr>
                        <tr>
                            <th>상세 이미지</th>
                            <td>
                                <input type="file" id="new-detail-image" accept="image/*">
                            </td>
                        </tr>
                        <tr>
                            <th>카테고리</th>
                            <td>
                                <select name="category" id="new-category">
                                    <option value="강아지">강아지</option>
                                    <option value="고양이">고양이</option>
                                    <option value="공용">공용</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>수량</th>
                            <td>
                                <input type="number" name="quantity" id="new-quantity">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="update-product">수정</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:replace="~{include/admin-footer :: footer}"></div>
<script src="/js/admin-product.js"></script>
</body>

