<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Modernize Free</title>
    <link rel="stylesheet" href="/css/dashboard.css">
    <link rel="stylesheet" href="/css/admin-orders.css">
</head>

<body>

<div th:replace="~{admin/admin-side :: side}"></div>
<div class="body-wrapper">
    <div class="container-fluid">
        <!--  Row 1 -->
        <div class="row">
            <div class="col-lg-8 mb-20 d-flex">
                <div class="card w-100">
                    <div class="card-body">
                        <div class="card-header">
                            <div class="mb-3 mb-sm-0">
                                <h5 class="card-title fw-semibold">최근 주문</h5>
                            </div>
                        </div>
                        <div class="card-body w-100">
                            <table class="table text-nowrap mb-0 align-middle">
                                <thead class="text-dark fs-4">
                                <tr>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">주문번호</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">고객명</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">주문일시</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">현황</h6>
                                    </th>
                                    <th class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0">결제금액</h6>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="orders : ${orders}" th:data-orderid="${orders.orderId}">
                                    <td class="border-bottom-0"><h6 class="fw-semibold mb-0" th:text="${orders.orderId}"></h6></td>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-1" th:text="${orders.recipientName}"></h6>
                                    </td>
                                    <td class="border-bottom-0">
                                        <p class="mb-0 fw-normal" th:text="${#dates.format(orders.orderDate, 'yyyy-MM-dd HH:mm:ss')} ?: '-'"></p>
                                    </td>
                                    <td class="border-bottom-0">
                                        <div class="d-flex align-items-center gap-2">
    <span class="badge rounded-3 fw-semibold"
          th:classappend="${orders.orderStatus == '결제 전' ? 'bg-danger' : orders.orderStatus == '결제 완료' ? 'bg-primary' : orders.orderStatus == '결제 취소' ? 'bg-secondary' : orders.orderStatus == '배송 준비' ? 'bg-warning' : 'bg-success'}"
          th:text="${orders.orderStatus}"></span>
                                        </div>


                                    </td>
                                    <td class="border-bottom-0">
                                        <h6 class="fw-semibold mb-0 fs-4" th:text="${orders.amount} + 원"></h6>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                        <div class="page">
                            <a th:href="@{/admin/orders(offset=${offset - limit < 0 ? 0 : offset - limit}, limit=${limit})}" th:if="${currentPage > 1}"><i class="fa fa-angle-left"></i></a>
                            <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                                        <a th:href="@{/admin/orders(offset=${(i - 1) * limit}, limit=${limit})}" th:text="${i}" th:classappend="${i == currentPage} ? 'current' : ''"></a>
                                    </span>
                            <a th:href="@{/admin/orders(offset=${offset + limit}, limit=${limit})}" th:if="${currentPage < totalPages}"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-20 d-flex">
                <div class="card-body w-100">
                    <table class="table mb-0 align-middle col-2" id="orderDetail">
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.countdown/2.0.4/jquery.countdown.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<script>


</script>
<script src="/js/sidebarmenu.js"></script>
<script src="/js/dashboard.js"></script>
<script src="/js/admin-order.js"></script>
</body>

</html>