<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anitalk</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
</head>
<body>
<div th:fragment="side" class="side">
    <ul id="sidebar" class="menu-hover-fill flex flex-col items-start leading-none text-2xl uppercase space-y-4">
        <li><a href="/board/notice" data-text="공지사항">공지사항</a></li>
        <li><a href="/board/faq" data-text="FAQ">FAQ</a></li>
        <li><a href="/mng/guide" data-text="이용안내">이용안내</a></li>
    </ul>
</div>
</body>
</html>
