<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<footer class="footer">
    <div class="footer_container">
        <div class="footer_cont">
            <p>LOGO img</p>
            <p class="footer_info">상호 : 석민이와 아이들</p>
            <p class="footer_info">대표 : 강석민</p>
            <p class="footer_info">이메일 : aniwhere@naver.com</p>
        </div>
        <div class="footer_content">
            <h4>ANIWHERE</h4>
            <ul>
                <li><a href="#">코스 등록</a></li>
                <li><a href="#">코스 목록</a></li>
                <li><a href="#">러너 목록</a></li>
            </ul>
        </div>
        <div class="footer_content">
            <h4><a href="#">ANIMALL</a></h4>
        </div>
        <div class="footer_content">
            <h4>ANITALK</h4>
            <ul>
                <li><a href="#">공지사항</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">이용안내</a></li>
            </ul>
        </div>
    </div>
    <p class="footer_copy"><i class="fa-regular fa-copyright"></i>2024 goott co.</p>
</footer>


</body>
</html>
