<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>aniwhere</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">


</head>
<body>
<header>
    <div class="h-container">
        <div class="login">
            <ul class="list">
                <li class="list__item--gray">
                    <a href="/" class="list__item--gray"><span>홈</span></a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()') == false}" class="list__item--gray">
                    <a href="#" class="list__item--gray" onclick="openModal('joinModal')"><span>회원가입</span></a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()') == false}" class="list__item--gray">
                    <a href="#" class="list__item--gray" onclick="openModal('loginModal')"><span>로그인</span></a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}" class="list__item--gray">
                   <a href="/mng/mypage"><span th:text="${#authentication.name}"></span></a>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </div>
        
        <div class="logo-container">
            <div class="box">
                <div class="title">
                    <span class="block"></span>
                    <h1>"ANIWHERE"<span></span></h1>
                </div>
                <div class="role">
                    <div class="block"></div>
                    <p>모두를 위한 산책, 어디서든 ANIWHERE</p>
                </div>
            </div>
        </div>
        
        <ul class="list">
            <li class="list__item--yellow">
                <a href="/route/cor" class="list__item--yellow"> <span>AniWhere</span></a>
            </li>
            <li class="list__item--blue">
                <a href="/shop/main" class="list__item--blue"> <span>AniMall</span></a>
            </li>
            <li class="list__item--red">
                <a href="/board/notice" class="list__item--red"> <span>AniTalk</span></a>
            </li>
        </ul>
    </div>


    <!-- 로그인 모달 -->
    <div id="loginModal" class="modal">
        <div class="modal-content">
            <div class="login-box">
                <span class="close" onclick="closeModal('loginModal')">&times;</span>
                <h2>로그인</h2>
                <form method="post" action="/loginProc">
                    <div class="user-box">
                        <input type="text" name="username" required="">
                        <label>아이디</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" required="">
                        <label>비밀번호</label>
                    </div>
                    <div class="icon">
                        <button type="submit">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!-- 회원가입 모달 -->
    <div id="joinModal" class="modal">
        <div class="modal-content">
            <div class="login-box">
                <span class="close" onclick="closeModal('joinModal')">&times;</span>
                <h2>회원가입</h2>
                <form method="post" action="/joinProc">
                    <div class="user-box">
                        <input type="text" name="username" required="">
                        <label>아이디</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" required="">
                        <label>비밀번호</label>
                    </div>
                    <div class="user-box">
                        <input type="text" name="email" required="">
                        <label>이메일</label>
                    </div>
                    <!-- kakao addr api (js) -->
                    <div class="user-box">
                        <input type="text" name="address" required="">
                        <label>주소</label>
                    </div>
                    
                    <div class="icon">
                        <button type="submit">
                            <i class="fa-solid fa-right-to-bracket"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</header>
<script th:src="@{/js/main-header.js}"></script>
</body>
</html>
