<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ 작성</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/faq-write.css">
</head>
<body>

<div th:replace="~{include/tab-header::header}"></div>

<form action="notice.html" method="post"></form>

<div class="all">
    <div class="write_title">
        <table>
            <tr><td colspan="2" class="write_title2"><h2>FAQ 작성</h2></td></tr>
            <tr><td colspan="2"><hr></td></tr>
            <tr><td class="header">카테고리</td></tr>
            <tr>
                <td>
                    <select name="category">
                        <option value="option1">산책코스</option>
                        <option value="option2">러너</option>
                        <option value="option3">상품</option>
                        <option value="option4">보호센터</option>
                    </select>
                </td>
            </tr>
            <tr><td class="header">질문</td></tr>
            <tr><td><input type="text" id="title-input" placeholder="질문을 입력하세요" name="title"></td></tr>
            <tr><td class="header">답변</td></tr>
            <tr><td><textarea placeholder="답변을 입력하세요" id="detail-input" name="detail"></textarea></td></tr>
            <tr><td class="header">사진 첨부</td></tr>
            <tr><td><input type="file" name="photo"></td></tr>
            <tr><td><input type="submit" value="등록" onclick="alert('작성완료')"></td></tr>
        </table>
    </div>
</div>


<script>
    // 플레이스홀더 텍스트를 클릭 시 사라지도록 설정
    document.getElementById('title-input').addEventListener('click', function() {
        this.placeholder = '';
    });
    document.getElementById('detail-input').addEventListener('click', function() {
        this.placeholder = '';
    });
</script>




</body>
</html>