<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/faq.css">

</head>
<body>

<div th:replace="~{include/tab-header::header}"></div>
<div th:replace="~{include/anitalk-side :: side}"></div>

<!-- Q&A title -->
<div class="q_area">
    <div class="q_text">
        <h1>FAQ</h1>
        <p class="q_text2">궁금한 점이 있으세요? 고객님께서 자주 묻는 질문들을 모았습니다</p>
    </div>
    <div class="q_sample_list">
        <table>
            <tr>
                <th class="menu"><a href="#" >산책코스</a></th>
                <th class="menu"><a href="#">러너</a></th>
                <th class="menu"><a href="#" >상품</a></th>
            </tr>
        </table>
    </div>
    
    
    <div class="q_accordion_container">
        
        
        
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;서비스 가능 지역은 어디인가요?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>현재 산책코스 서비스는 서울 지역만 이용 가능합니다, 추후 더 많은 지역까지 서비스 이용이 가능하도록 노력하겠습니다.
               </p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;새벽이나 밤 늦게도 이용할 수 있나요?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>네, 가능합니다 AniWhere는 24시 연중무휴입니다.</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;서비스 이용 전 필요한 준비사항은 뭐가 있나요?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>    </p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;산책코스 등록에는 어떤 정보가 필요한가요?</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>산책코스 등록 시에는 코스의 이름, 설명, 위치, 지속 시간, 난이도 등의 정보가 필요합니다. 또한 코스의 특징과 함께 코스를 완주하기 위한 추가 정보를 제공해주시면 좋습니다.</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        
        
        
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        
        
        
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        <div class="q_accordion">
            <button>
                <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;질문하기 질문질문</span>
                <i class="fa-solid fa-chevron-up"></i>
            </button>
            <p>답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴
               답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴답변 내용 넣기 쏼랴쏼랴</p>
        </div>
        
        
        
    </div>




</div>

<script src="/js/faq.js"></script>

</body>
</html>
