<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
<link rel="stylesheet" href="/css/faq.css">

<body>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>자주 묻는 질문/답변</p>
					<h1>FAQ</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end breadcrumb section -->

<!-- contact form -->
<div class="contact-from-section mt-150 mb-150">
	<div class="container">
		<div class="col-lg-11 mb-5 mb-lg-0">
			<div class="form-title">
				<h2>FAQ</h2>
				<p>궁금한 점이 있으세요? 고객님께서 자주 묻는 질문들을 모았습니다</p>
			</div>
			<div class="q_sample_list">
				<table>
					<tr>
						<th class="menu" data-target="walking-course">회원</th>
						<th class="menu" data-target="runner">주문/결제</th>
						<th class="menu" data-target="pet-products">상품</th>
						<th class="menu" data-target="pet-products">기타</th>
					</tr>
				</table>
			</div>
			<div class="accordion" id="accordionPanelsStayOpenExample">

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">

							Q &nbsp;&nbsp;&nbsp;로그인하는 방법
							Q &nbsp;&nbsp;&nbsp;회원가입은 어떻게 해야죠?

						</button>
					</h2>
					<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
						<div class="accordion-body">
							<span>만 14세 이상이면 누구나 무료로 회원가입이 가능합니다.
							AniWhere 홈페이지 우측 상단의 메뉴 버튼을 클릭 후 회원가입을 선택합니다.
							회원 정보를 입력 후, 이용약관, 개인정보 수집 이용약관에 동의 후 [가입하기] 버튼을 클릭하시면 됩니다.</span>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
							Q &nbsp;&nbsp;&nbsp;탈퇴는 어떻게 하나요?
						</button>
					</h2>
					<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>AniWhere 홈페이지 우측 상단의 메뉴 버튼을 클릭 후 MY PAGE 를 선택합니다.</strong>
							<span>MY PAGE 에서 하단에 [회원 탈퇴] 버튼을 선택합니다.</span>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
							Q &nbsp;&nbsp;&nbsp;비밀번호 변경은 어디서 하나요?
						</button>
					</h2>
					<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>AniWhere 홈페이지 우측 상단의 메뉴 버튼을 클릭 후 MY PAGE 를 선택합니다.</strong>
							<span>MY PAGE 에서 "내 정보 수정" 에서 새로운 비밀번호를 "비밀번호" 란에 입력하고 [수정완료] 버튼을 선택합니다. </span>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
							Q &nbsp;&nbsp;&nbsp;고객센터 운영시간은 어떻게 되나요?
						</button>
					</h2>
					<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>평일 10:00 AM ~ 05:30 PM / 토, 일, 공휴일 휴무</strong><br>
							<strong>☎ 000-0000-0000</strong><br>
							<strong>[물류 출고] 평일 오후 5시, 토요일 12까지 결제 완료 시 출고</strong>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
							Q &nbsp;&nbsp;&nbsp;고객센터 운영시간은 어떻게 되나요?
						</button>
					</h2>
					<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>평일 10:00 AM ~ 05:30 PM / 토, 일, 공휴일 휴무</strong><br>
							<strong>☎ 000-0000-0000</strong><br>
							<strong>[물류 출고] 평일 오후 5시, 토요일 12까지 결제 완료 시 출고</strong>
						</div>
					</div>
				</div>

				<div class="accordion-item">
					<h2 class="accordion-header">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
							Q &nbsp;&nbsp;&nbsp;고객센터 운영시간은 어떻게 되나요?
						</button>
					</h2>
					<div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
						<div class="accordion-body">
							<strong>평일 10:00 AM ~ 05:30 PM / 토, 일, 공휴일 휴무</strong><br>
							<strong>☎ 000-0000-0000</strong><br>
							<strong>[물류 출고] 평일 오후 5시, 토요일 12까지 결제 완료 시 출고</strong>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
<!-- end contact form -->

<!-- find our location -->
<div class="find-location blue-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<p> <i class="fas fa-map-marker-alt"></i> Find Our Location</p>
			</div>
		</div>
	</div>
</div>
<!-- end find our location -->

<!-- google map section -->
<div class="embed-responsive embed-responsive-21by9">
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d4477.539223859415!2d126.89747909556968!3d37.48200547767117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357c9e15a9d09d3d%3A0xc6bd63de2a7fb0c7!2z6rWs7Yq47JWE7Lm0642w66-4IOyekOuwlO2VmeybkA!5e0!3m2!1sko!2skr!4v1720073681632!5m2!1sko!2skr"
			style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
			width="600" height="450" frameborder="0" allowfullscreen="" class="embed-responsive-item"></iframe>
</div>
<!-- end google map section -->


<div th:replace="~{include/footer :: footer}"></div>

<script src="/js/faq.js"></script>

</body>
