<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/faq.css">




</head>
<body>

<div th:replace="~{include/tab-header::header}"></div>
<div th:replace="~{include/anitalk-side :: side}"></div>

<main>


    <!-- Q&A title -->
    <div class="q_area">
        <div class="q_text">
            <h1>FAQ</h1>
            <p class="q_text2">궁금한 점이 있으세요? 고객님께서 자주 묻는 질문들을 모았습니다</p>
        </div>
        <div class="q_sample_list">
            <table>
                <tr>
                    <th class="menu" data-target="walking-course">산책코스</th>
                    <th class="menu" data-target="runner">러너</th>
                    <th class="menu" data-target="pet-products">펫 상품</th>
                </tr>
            </table>
        </div>

        <div class="walking-course" id="walking-course">

            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;서비스 이용 전 필요한 준비사항은 뭐가 있나요?</span>
                        <i class="fa-solid fa-chevron-down"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>서비스 이용 전 필요한 준비사항은 회원가입, 동물 프로필 등록, 결제 수단 등록, 코스 및 러너 선택, 필수 용품 준비,<br>반려동물 건강 체크, 러너에게 사전 안내입니다.</p>
                </div>
            </div>


            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;동물 산책 코스를 어떻게 등록하나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>동물 산책 코스를 등록하려면 먼저 회원가입을 하신 후,<br>'코스 등록' 메뉴에서 코스의 상세 정보를 입력하고 사진을 업로드하여 등록할 수 있습니다.</p>
                </div>
            </div>

            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;서비스 가능 지역은 어디인가요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>현재 산책코스 서비스는 서울 지역만 이용 가능합니다, 추후 더 많은 지역까지 서비스 이용이 가능하도록 노력하겠습니다.
                    </p>
                </div>
            </div>

            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;새벽이나 밤 늦게도 이용할 수 있나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>네, 가능합니다 AniWhere는 24시 연중무휴입니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;산책코스를 판매하면 어떤 방식으로 수익을 얻나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>산책코스가 판매되면 일정 비율의 수수료를 제외한 금액이 판매자의 계정으로 적립됩니다.<br>적립된 금액은 '내 계정' 메뉴에서 확인할 수 있으며, 출금 신청을 통해 현금으로 인출할 수 있습니다.</p>
                </div>
            </div>
        </div>

        <div class="runner" id="runner">

            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;러너는 어떻게 고용하나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>러너를 고용하려면 원하는 날짜와 시간을 선택한 후, 해당 시간에 가능한 러너 목록을 확인하고 선택하여 예약할 수 있습니다. 예약이 완료되면 러너가 지정된 시간에 동물을 산책시켜 줍니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;러너는 어떤 기준으로 선발되나요? </span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>러너는 동물 산책 경험, 신원 확인, 인터뷰 등을 통해 엄격하게 선발됩니다. 또한, 러너의 평판과 리뷰를 통해 신뢰할 수 있는 서비스를 제공하도록 하고 있습니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;러너 서비스의 비용은 어떻게 산정되나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>러너 서비스의 비용은 산책 시간, 이동 거리, 러너의 경력 등에 따라 다르게 산정됩니다. 예약 시 상세 비용을 확인할 수 있습니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;러너가 산책 도중에 사고가 발생하면 어떻게 되나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>러너가 산책 도중에 사고가 발생할 경우, 사이트에서 제공하는 보험 정책에 따라 보호를 받을 수 있습니다. 사고 발생 시 즉시 고객센터에 연락하여 도움을 받으시기 바랍니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;예약을 취소하고 싶어요. 어떻게 해야 하나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>예약을 취소하려면 '내 예약' 메뉴에서 해당 예약을 선택하고 취소 신청을 하면 됩니다. 취소 정책에 따라 일정 시간 내에 취소 시 전액 환불 또는 일부 환불이 가능할 수 있습니다.</p>
                </div>
            </div>
        </div>

        <div class="pet-products" id="pet-products">
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;펫 상품을 어떻게 구매할 수 있나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>펫 상품을 구매하려면 먼저 회원가입을 하신 후, 상품 목록에서 원하는 상품을 선택한 후에 결제를 진행하시면 됩니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;결제는 어떻게 이루어지나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>결제는 신용카드, 체크카드, 그리고 다양한 전자 결제 수단을 통해 이루어질 수 있습니다. 결제 과정은 안전한 결제 시스템을 통해 처리됩니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;상품 배송은 얼마나 걸리나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>상품 배송은 일반적으로 3-5일 정도 소요됩니다. 다만, 지역 및 배송 상황에 따라 차이가 있을 수 있습니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;상품을 환불 또는 교환하려면 어떻게 해야 하나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>상품을 환불 또는 교환하려면, 상품 수령 후 7일 이내에 고객센터로 연락주시기 바랍니다. 환불 및 교환 정책에 따라 절차가 진행됩니다.</p>
                </div>
            </div>
            <div class="q_accordion">
                <div class="toggle-btn">
                    <button>
                        <span class="faq_q">Q&nbsp;&nbsp;&nbsp;&nbsp;배송비는 누가 부담하나요?</span>
                        <i class="fa-solid fa-chevron-up"></i>
                    </button>
                </div>
                <div class="a_accordion">
                    <p>펫 상품의 배송비는 일반적으로 구매자가 부담합니다. 다만, 특정 이벤트나 프로모션 등에 따라 무료 배송 혜택이 제공될 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</main>


<script src="/js/faq.js"></script>



</body>
</html>
