<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>guide</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/guide.css">
</head>
<body>

<div th:replace="~{include/tab-header :: header}"></div>
<div th:replace="~{include/anitalk-side :: side}"></div>

/* 따라다니는 코스 */

<div class="walk_add">
    <a href="#" id="walk_add_btn"><img src="/images/cursor.png"></a>
</div>

<div class="all">
<div class="image-container p1">
    <img src="/images/walk2.jpg" width="400" alt="images1" class="image-container p1">
</div>


<div class="text-container1">
    <div class="transparent-text1">
        <span>안전한 산책과 함께,</span>
        <span>깔끔한 마무리</span>
    </div>
</div>

<div class="text-container2">
    <div class="transparent-text2">
        강아지의 삶에 가장 중요한 산책을 바쁜 일상으로 인해 자주 미루셨나요?
        <span>
        이제는 Aniwhere 러너에게 강아지의 안전하고 즐거운 산책을 맡겨보세요
            </span>

        <span>
        바로 산책, 예약 산책, 정기 산책까지 언제 어디서든 원하시는 방법으로
        </span> <span>‘Aniwhere’ 반려견 산책 서비스를 예약할 수 있어요
        </span>

        <span class="pet guide1">
                * 산책 30분: 19,500원 / 산책 60분 : 28,500원 / 산책 120분 : 42,000원
            </span>

        <span class="pet guide1">
            * 반려동물 추가 또는 연휴 할증, 방문 시간 연장에 따라 추가요금이 발생할 수 있습니다
            </span>
        <span class="pet guide1">(서비스 수수료 2.4% 별도)</span>
    </div>
</div>

<div class="image-container p2">
    <img src="/images/dog1.jpg" alt="image2" class="image-container p2">
</div>

<div class="text-container3">
    <div class="transparent-text3">
        <span>반려견과 이색적인 </span>
        <span>산책 코스를 원하세요?</span>
    </div>
</div>

<div class="text-container4">
    <div class="transparent-text4">
        산책 서비스에만 있는 특별한 기능, 실시간 우리 동네 산책 코스를 확인하세요
        <span>
            해당 위치 산책코스와 다른 위치 산책코스까지 확인 가능합니다</span>
        <span>또 원하는 위치에서 원하는 위치까지의 거리와 시간까지 제공해 드려요</span>
        <span>
        실시간으로 러너가 촬영해 주는 소중한 반려견의 모습도 볼 수 있습니다
        </span>

        <span class="pet guide2">
               * 요금별 산책코스와 러너 선택은 웹 내에서 확인할 수 있습니다 
            </span>


    </div>
</div>



<div class="image-container p3">
    <img src="/images/map.jpg" width="400" alt="images3" class="image-container p3">
</div>

<div class="text-container5">
    <div class="transparent-text5">
        <span>
            AniWhere은
        </span>
        <span>엄선된 러너가 방문합니다</span>
    </div>
</div>

<div class="text-container6">
    <div class="transparent-text6">
        바쁜 업무 또는 정신없는 하루로 인해, 반려견의 산책까지 놓치지 마세요
        <span>
        최대 1시간 이내에 도착하는 Aniwhere 러너입니다
            </span>

        <span>
        산책 이동경로, 라이브, 영상으로 우리 반려견의 행복한 순간을 함께하세요
        </span>

    </div>
</div>

<div class="text-container7">
    <div class="transparent-text7">
        <span><a href="/route/cor" class="btn">
            소중한 반려동물을 위해 지금 시작하세요!!
        </a></span>
    </div>
</div>

<div class="image-container p4">
    <img src="/images/walk1.jpg" width="400" alt="images4" class="image-container p4">
</div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/guide.js"></script>






</body>
</html>