<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
    <link rel="stylesheet" href="/css/notice.css">

</head>

<body>

<div th:replace="~{include/header :: header}"></div>

<!-- search area -->
<div class="search-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <span class="close-btn"><i class="fas fa-window-close"></i></span>
                <div class="search-bar">
                    <div class="search-bar-tablecell">
                        <h3>Search For:</h3>
                        <input type="text" placeholder="Keywords">
                        <button type="submit">Search <i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search arewa -->

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>왈왈</p>
                    <h1>AniWhere Notice</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!-- 공지사항 -->
<div class="notice_box">
    <div class="notice_title">
        <h2>Notice</h2>
        <hr>
    </div>
    <div class="notice_content">
        <table id="notice_table">
            <!-- JavaScript에서 내용이 삽입될 것입니다. -->
        </table>
        <div class="notice_write_btn"><a href="/board/notice-write">글쓰기</a></div>
    </div>

    <!-- 페이징 처리 -->
    <div class="page_area">
        <div class="page_form" id="pagination"></div>
    </div>

    <!-- 검색창 -->
    <div class="search_area">
        <div class="search_form">
            <input type="text" name="search_text" placeholder="Search">
            <button type="submit">검색</button>
        </div>
    </div>
</div>




<script src="/js/notice.js"></script>
<div th:replace="~{include/footer :: footer}"></div>

</body>
</html>