<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>course</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.css" type="text/css">
    <link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css" type="text/css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/course-create.css">
</head>

<body>

<div th:replace="~{include/tab-header :: header}"></div>
<div th:replace="~{include/aniwhere-side :: side}"></div>

<main>
    <div class="map-container">
        <div id="map" class="map"></div>
        <div class="right-container">
            <div class="info-container">
                <div><span class="title">경로 등록</span></div>
                <div>
                    <form id="route-form">
                        <div class="form-group">
                            <label for="route-name">경로 이름</label>
                            <input type="text" id="route-name" name="route-name" class="form-control" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="route-description">경로 설명</label>
                            <textarea id="route-description" name="route-description" class="form-control" required></textarea>
                        </div>
                    </form>
                </div>
                
                <div class="directions-info"></div>
                <div id="total-d" class="total-d"></div>
                
                <div id="control-panel" class="control-panel">
                    <button type="button" id="previous-step" class="btn">이전 단계</button>
                    <button type="button" id="reset" class="btn">초기화</button>
                    <button type="button" id="capture" class="btn">등록</button>
                </div>
            </div>
        </div>
    </div>

</main>
<script src="https://api.mapbox.com/mapbox-gl-js/v3.4.0/mapbox-gl.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-draw/v1.4.3/mapbox-gl-draw.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script type="module" src="/js/course-create.js"></script>
</body>
</html>
