<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
<link href="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.css" rel="stylesheet">
<link rel="stylesheet" href="/css/route-create.css">
<input type="hidden" id="routeId" th:value="${route.id}">
<input type="hidden" th:value="${name}">
<body>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>코스 상세보기</p>
                    <h1>AniWhere</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<div class="container">
    
    <div class="container">
        <div class="route-main col-lg-12">
            <div class="col-lg-8">
                <div id="map"></div>
            </div>
            <div class="route-input col-lg-4">
                <div class="d-info">
                    <div class="total-d"></div>
                    <div class="directions-info"></div>
                </div>

                <div class="form-group">
                    <label for="routeName">경로 이름</label>
                    <input type="text" class="form-control" id="routeName" placeholder="경로 이름을 입력하세요" th:value="${route.name}" readonly>
                </div>
                <div class="form-group">
                    <label for="routeDescription">경로 설명</label>
                    <textarea class="form-control" id="routeDescription" rows="3" placeholder="경로 설명을 입력하세요" th:text="${route.description}" readonly></textarea>
                </div>
                <button id="allRouteList" type="button" class="btn btn-warning">코스 전체 보기</button>
            </div>
        </div>
    </div>
</div>

</body>
<div th:replace="~{include/footer :: footer}"></div>
<script src="https://api.mapbox.com/mapbox-gl-js/v3.5.1/mapbox-gl.js"></script>
<script src="/js/html2canvas.min.js"></script>
<script src="/js/all-route-detail.js"></script>

