<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
<link rel="stylesheet" href="/css/shop-checkout.css">

<body>
   
   <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
   
   <!-- breadcrumb-section -->
   <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
               <div class="breadcrumb-text">
                  <p>Products Order</p>
                  <h1>주문/결제</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end breadcrumb section -->

   <!-- check out section -->
   <div class="checkout-section mt-150 mb-150">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <div class="checkout-accordion-wrap">
                  <div class="accordion" id="accordionExample">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              주문자 정보
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                           <div class="accordion-body">
                              <div class="billing-address-form">
                                 <form action="index.html">
                                    <p><input type="text" placeholder="Name"></p>
                                    <p><input type="email" placeholder="Email"></p>
                                    <p><input type="text" placeholder="Address"></p>
                                    <p><input type="tel" placeholder="Phone"></p>
                                    <p><textarea name="bill" id="bill" cols="30" rows="10" placeholder="Say Something"></textarea></p>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                              배송지 정보
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                           <div class="accordion-body">
                              <div class="billing-address-form">
                                 <form action="index.html">
                                    <p><input type="text" placeholder="Name"></p>
                                    <p><input type="email" placeholder="Email"></p>
                                    <p><input type="text" placeholder="Address"></p>
                                    <p><input type="tel" placeholder="Phone"></p>
                                    <p><textarea name="bill" id="require-content" cols="30" rows="10" placeholder="Say Something"></textarea></p>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                              결제 정보
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                           <div class="accordion-body">
                              <div class="card-details">
                                  <div id="payment-method"></div>
                                  <div id="agreement"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>

            <div class="col-lg-4">
               <div class="order-details-wrap">
                  <table class="order-details">
                     <thead>
                        <tr>
                           <th>주문 상품 목록</th>
                           <th>가격</th>
                        </tr>
                     </thead>
                     <tbody class="order-details-body">
                        <tr>
                           <td>상품명</td>
                           <td>가격</td>
                        </tr>
                        <tr>
                           <td>Strawberry</td>
                           <td>$85.00</td>
                        </tr>
                        <tr>
                           <td>Berry</td>
                           <td>$70.00</td>
                        </tr>
                        <tr>
                           <td>Lemon</td>
                           <td>$35.00</td>
                        </tr>
                     </tbody>
                     <tbody class="checkout-details">
                        <tr>
                           <td>Subtotal</td>
                           <td>$190</td>
                        </tr>
                        <tr>
                           <td>Shipping</td>
                           <td>$50</td>
                        </tr>
                        <tr>
                           <td>총 가격</td>
                           <td id="amount">24000</td>
                        </tr>
                     </tbody>
                  </table>
                   <button class="btn btn-info" id="payment-button" style="margin-top: 30px">결제하기</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end check out section -->

   <!-- logo carousel -->
   <div class="logo-carousel-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="logo-carousel-inner">
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_01.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_02.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_03.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_04.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_05.jpg" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end logo carousel -->

</body>
<div th:replace="~{include/footer :: footer}"></div>
<script src="https://js.tosspayments.com/v2/standard"></script>
<script src="/js/checkout.js"></script>
