<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
<link rel="stylesheet" href="/css/shop-checkout.css">
<body>
   
   <!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->
   
   <!-- breadcrumb-section -->
   <div class="breadcrumb-section breadcrumb-bg">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
               <div class="breadcrumb-text">
                  <p>Products Order</p>
                  <h1>주문/결제</h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end breadcrumb section -->

   <!-- check out section -->
   <div class="checkout-section mt-150 mb-150">
      <div class="container">
         <div class="row">
            <div class="col-lg-8">
               <div class="checkout-accordion-wrap">
                  <div class="accordion" id="accordionExample">
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                              주문자 정보
                           </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                           <div class="accordion-body">
                              <div class="billing-address-form">
                                 <form action="index.html">
                                    <p><input type="text" placeholder="이름"></p>
                                    <p><input type="email" placeholder="이메일"></p>
                                    <p><input type="tel" placeholder="연락처"></p>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                              배송지 정보 <span>새로운 배송지 작성</span>
                           </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                           <div class="accordion-body">
                              <span class="del-box"><input type="checkbox" class="del-check">위와 동일하게 작성</span>
                              <div class="billing-address-form">
                                 <form action="index.html">
                                    <p><input type="text" placeholder="이름"></p>
                                    <p><input type="email" placeholder="이메일"></p>
                                    <p>
                                       <input type="text" id="address" name="address" class="in-text"><button type="button" id="searchAddress" class="in-text">주소검색</button>
                                       <input type="text" id="detailAddress" name="detailAddress" class="in-text">
                                       <input type="text" id="zipCode" name="zipCode" class="in-text" required>
                                    </p>
                                    <p><input type="tel" placeholder="연락처"></p>
                                    <p>
                                       <textarea name="bill" id="require-content" cols="30" rows="10" placeholder="배송메세지를 입력하세요"></textarea>
                                    </p>
                                 </form>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                           <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                              결제 정보
                           </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                           <div class="accordion-body">
                              <div class="card-details">
                                 <!-- 결제 UI -->
                                 <div id="payment-method"></div>
                                 <!-- 이용약관 UI -->
                                 <div id="agreement"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>

            <div class="col-lg-4">
               <div class="order-details-wrap">
                  <table class="order-details">
                     <thead>
                        <tr>
                           <th>주문 상품 목록</th>
                           <th>가격</th>
                           <th>수량</th>
                        </tr>
                     </thead>
                     <tbody class="order-details-body">
                        <tr>
                           <td>상품명</td>
                           <td>가격</td>
                           <td>수량</td>
                        </tr>
                        <tr>
                           <td>놀잇감</td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <td>간식</td>
                           <td></td>
                           <td></td>
                        </tr>
                        <tr>
                           <td>리드줄</td>
                           <td></td>
                           <td></td>
                        </tr>
                     </tbody>
                  </table>
                  <table class="order-details" id="detail-table">
                     <tbody class="checkout-details">
                     <tr>
                        <th class="cost">총 수량</th>
                        <td></td>
                     </tr>
                     <tr>
                        <th class="cost">상품 가격</th>
                        <td></td>
                     </tr>
                     <tr>
                        <th class="cost">배송비</th>
                        <td></td>
                     </tr>
                     <tr>
                        <th class="cost">총 가격</th>
                        <td id="total-price">24000</td>
                     </tr>
                     </tbody>
                  </table>
                  <!-- 결제하기 버튼 -->
                  <button class="button" id="payment-button" style="margin-top: 30px">결제하기</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end check out section -->

   <!-- logo carousel -->
   <div class="logo-carousel-section">
      <div class="container">
         <div class="row">
            <div class="col-lg-12">
               <div class="logo-carousel-inner">
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_01.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_02.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_03.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_04.png" alt="">
                  </div>
                  <div class="single-logo-item">
                     <img src="/img/brand_logo_05.jpg" alt="">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- end logo carousel -->

</body>
<div th:replace="~{include/footer :: footer}"></div>
<script src="https://js.tosspayments.com/v2/standard"></script>
<script src="/js/shop-checkout.js"></script>