<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
<link rel="stylesheet" href="/css/shop-order-search.css">
<link rel="stylesheet" href="https://unpkg.com/air-datepicker/air-datepicker.css">
<body>


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>주문 검색</p>
                    <h1>주문 내역 검색</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->


<!-- search form -->
<div class="search-form-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="form-title">
                    <p>검색할 날짜 범위를 선택하세요.</p>
                </div>
                <div class="search-form">
                    <form id="date-range-form">
                        <label for="date-range"></label>
                        
                        <input type="text" id="date-range" class="datepicker-here" data-range="true" data-multiple-dates-separator=" ~ " placeholder="날짜 범위를 선택하세요">
                        <button type="button" id="search-button" onclick="searchOrders()">검색</button>
                    </form>
                </div>
                <div class="order-list">
                    <h3>주문 목록</h3>
                    <div class="faq-member" id="aco-list">
                        <!-- 여기에 간략 정보 추가-->
                        <!-- 여기에 상세정보 표시 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search form -->

<div th:replace="~{include/footer :: footer}"></div>

<script src="https://unpkg.com/air-datepicker/air-datepicker.js"></script>
<script src="/js/shop-order-search.js"></script>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const paymentKey = urlParams.get("paymentKey");
    const orderId = urlParams.get("orderId");
    const amount = urlParams.get("amount");
    const customerName = urlParams.get("customerName");
    const customerPhone = urlParams.get("customerPhone");
    const customerEmail = urlParams.get("customerEmail");

    async function confirm() {
        const requestData = {
            paymentKey: paymentKey,
            orderId: orderId,
            amount: amount,
            customerName : customerName,
            customerEmail : customerEmail,
            customerPhone : customerPhone
        };

        const response = await fetch("/confirm", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(requestData),
        });

        const json = await response.json();

        if (!response.ok) {
            // 결제 실패 비즈니스 로직을 구현하세요.
            console.log(json);
            window.location.href = `/fail?message=${json.message}&code=${json.code}`;
        }



        console.log(json);
    }
    confirm();

    const paymentKeyElement = document.getElementById("paymentKey");
    const orderIdElement = document.getElementById("orderId");
    const amountElement = document.getElementById("amount");
    const customerNameElement = document.getElementById("customerName")
    const customerEmailElement = document.getElementById("customerEmail")
    const customerPhoneElement = document.getElementById("customerPhone")

    orderIdElement.textContent = "주문번호: " + orderId;
    amountElement.textContent = "결제 금액: " + amount;
    paymentKeyElement.textContent = "paymentKey: " + paymentKey;
    customerNameElement.textContent = "customerName: " + customerName;
    customerEmailElement.textContent = "customerEmail: " + customerEmail;
    customerPhoneElement.textContent = "customerPhone: " + customerPhone;

</script>
</body>
