<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shop</title>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/main-header.css">
    <link rel="stylesheet" href="/static/css/shop-main.css">
</head>
<body>

<div th:insert="~{/include/main-header :: header }"></div>

<div class="container">

    <main>
        <div class="style-buttons">
            <button onclick="changeStyle('grid')">Grid</button>
            <button onclick="changeStyle('list')">List</button>
            <button onclick="changeStyle('compact')">Compact</button>
            <button onclick="changeStyle('detailed')">Detailed</button>
            <button onclick="changeStyle('masonry')">Masonry</button>
        </div>
        <div class="products grid">
            <div class="product">
                <a href="">
                    <img src="/static/image/shop_product/패션_봉주르_베스트.png" alt="패션_봉주르_베스트">
                </a>
                <h2>[봉쥬르] 딱떨어짐 베스트 </h2>
                <p>100,000원</p>
                <button>장바구니 담기</button>
            </div>
            <div class="product">
                <a href="">
                    <img src="/static/image/shop_product/패션_코쿤펫_아기곰_패딩.png" alt="패션_코쿤펫_아기곰_패딩">
                </a>
                <h2>[코쿤펫] 아기곰 패딩</h2>
                <p>30,000원</p>
                <button>장바구니 담기</button>
            </div>
            <div class="product">
                <img src="/static/image/shop_product/라이프_노즈워크_장난감.png" alt="라이프_노즈워크_장난감">
                <h2>[Brand] 노즈워크 장난감</h2>
                <p>1,000원</p>
                <button>장바구니 담기</button>
            </div>
            <div class="product">
                <img src="/static/image/shop_product/산책_파브_하네스.png" alt="산책_파브_하네스">
                <h2>[파브] 하네스</h2>
                <p>10,000원</p>
                <button>장바구니 담기</button>
            </div>
            <div class="product">
                <img src="/static/image/shop_product/라이프_로로독_노즈워크_장난감.png" alt="라이프_로로독_노즈워크_장난감">
                <h2>[로로독] 노즈워크 토이</h2>
                <p>16,500원</p>
                <button>장바구니 담기</button>
            </div>
            <div class="product">
                <img src="/static/image/shop_product/패션_몽슈슈_하네스패딩.png" alt="패션_몽슈슈_하네스패딩">
                <h2>[몽슈슈] 하네스 패딩</h2>
                <p>16,500원</p>
                <button>장바구니 담기</button>
            </div>
            <div class="product">
                <img src="/static/image/shop_product/산책_파브_하네스.png" alt="산책_파브_하네스">
                <h2>[파브] 하네스</h2>
                <p>10,000원</p>
                <button>장바구니 담기</button>
            </div>
            <!-- 다른 제품들도 동일한 형식으로 추가 -->
        </div>


        <div class="scroll-buttons">
            <button id="scroll-up" onclick="scrollToTop()">▲</button>
            <button id="scroll-down" onclick="scrollToBottom()">▼</button>
        </div>

    </main>

</div>
<script src="/static/js/shop-main.js"></script>
</body>
</html>
