<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-modify</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/admin-product-modi.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/main-header.css">
</head>
<body>

<div th:replace="~{/include/tab-header :: header}"></div>
<div th:replace="~{/include/admin-side :: side}"></div>

<div class="reg_container">
    <h3>상품 수정</h3>
    <table class="table_area">
        <tr>
            <td class="table_head">상품명</td>
            <td><input type = "text" name="product_name" class="info_write" placeholder="예) 쿠션 방석"/></td>
        </tr>
        <tr>
            <td class="table_head">판매가</td>
            <td><input type = "text" name="product_cost" class="info_write"/>원</td>
        </tr>
        <tr>
            <td class="table_head">판매상태</td>
            <td>
                <select class="product_category" name="status">
                    <option class="category" value="">판매함</option>
                    <option class="category" value="">판매안함</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="table_head">카테고리</td>
            <td>
                <select class="product_category" name = "big_category">
                    <option class="category" value="">&nbsp;&nbsp;대분류 선택하세요&nbsp;&nbsp;</option>
                    <option class="category" value="">강아지</option>
                    <option class="category" value="">고양이</option>
                    <option class="category" value="">그 외</option>

                </select>
                <select class="product_category" name = "small_category">
                    <option class="category" value="">&nbsp;&nbsp;소분류를 선택하세요&nbsp;&nbsp;</option>
                    <option class="category" value="">식품</option>
                    <option class="category" value="">의류</option>
                    <option class="category" value="">용품</option>
                    <option class="category" value="">놀잇감</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="table_head">브랜드</td>
            <td>
                <input type = "text" name="product_brand" class="info_write"/>
            </td>
        <tr>
            <td class="table_head">상품 상세설명</td>
            <td>
                <textarea name="product_text" id="product_detail"></textarea>

            </td>
        </tr>
        <tr>
            <td class="table_head">상품 이미지</td>
            <td class="filebox bs3-primary preview-image">
                <input class="upload-name" value="파일선택" disabled="disabled" style="width: 200px;">
                <label for="input_file">업로드</label>
                <input type="file" id="input_file" class="upload-hidden">
            </td>
        </tr>
    </table>

    <div class="btn_area">
        <div class="reg_btn">
            <button class="product_modi">상품 수정</button>
            <button class="modi_cancel" th:onclick="|location.href='@{/admin/product-list}'|">전체 목록</button>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/classic/ckeditor.js"></script>
<script src="https://cdn.ckeditor.com/ckeditor5/34.0.0/classic/translations/ko.js"></script>
<script src="/js/admin-product-reg.js"></script>

</body>
</html>