<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Check Out</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body>
<div th:replace="~{include/header :: header}"></div>

<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>결제 내역을 확인하세요</p>
					<h1>Check Out</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="checkout-section mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<div class="accordion" id="checkoutAccordion">
					<div class="accordion-item">
						<h2 class="accordion-header" id="headingOne">
							<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								Billing Address
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#checkoutAccordion">
							<div class="accordion-body">
								<div class="billing-address-form">
									<form action="index.html">
										<p><input type="text" placeholder="Name"></p>
									</form>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Shipping Address
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#checkoutAccordion">
								<div class="accordion-body">
									<div class="shipping-address-form">
										<p>Your shipping address form is here.</p>
									</div>
								</div>
							</div>
						</div>

						<div class="accordion-item">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Card Details
								</button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#checkoutAccordion">
								<div class="accordion-body">
									<div class="card-details">
										<p>Your card details goes here.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
			<div class="col-lg-4">
				<div class="order-details-wrap">
					<table class="order-details">
						<thead>
						<tr>
							<th>Your order Details</th>
							<th>Price</th>
						</tr>
						</thead>
						<tbody class="order-details-body">
						<tr>
							<td>Product</td>
							<td>Total</td>
						</tr>
						<tr>
							<td>Strawberry</td>
							<td>$85.00</td>
						</tr>
						<tr>
							<td>Berry</td>
							<td>$70.00</td>
						</tr>
						<tr>
							<td>Lemon</td>
							<td>$35.00</td>
						</tr>
						</tbody>
						<tbody class="checkout-details">
						<tr>
							<td>Subtotal</td>
							<td>$190</td>
						</tr>
						<tr>
							<td>Shipping</td>
							<td>$50</td>
						</tr>
						<tr>
							<td>Total</td>
							<td>$240</td>
						</tr>
						</tbody>
					</table>
					<a href="#" class="boxed-btn">Place Order</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>
