<!DOCTYPE html>
<div th:replace="~{include/header :: header}"></div>
<link rel="stylesheet" href="/css/shop-main.css">
<body>
<input type="hidden" id="initialCurrentPage" th:value="${currentPage}">
<input type="hidden" id="initialTotalPages" th:value="${totalPages}">
<input type="hidden" id="initialCategory" th:value="${category}">

<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>반려 동물 용품</p>
                    <h1>AniMall</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="col-lg-12 col-12 mb-80">
            <div class="search d-flex justify-content-center align-content-center">
                <label for="searchKeyword">
                    <input type="text" id="searchKeyword" class="search-input" placeholder="검색어를 입력하세요">
                </label>
                <button id="search-btn" class="btn btn-info"><i class="fas fa-search"></i></button>
            </div>
            
            <div class="product-filters">
                <ul>
                    <li th:classappend="${category == 'all'} ? 'active'" data-category="all">전체</li>
                    <li th:classappend="${category == 'dog'} ? 'active'" data-category="dog">강아지</li>
                    <li th:classappend="${category == 'cat'} ? 'active'" data-category="cat">고양이</li>
                    <li th:classappend="${category == 'other'} ? 'active'" data-category="other">공용</li>
                </ul>
            </div>
        </div>
        <div class="category-container">
            <div id="product-container" class="row product-lists">
                <div th:each="product : ${products}" class="col-lg-4 col-md-6 text-center">
                    <div class="single-product-item">
                        <div class="product-image">
                            <a th:href="@{/shop/detail(id=${product.productId})}">
                                <img th:src="${product.image}" alt="제품 이미지">
                            </a>
                        </div>
                        <div class="product-details">
                            <h3 th:text="${product.name}">상품 이름</h3>
                            <div class="product-price">
                                <p th:text="${product.price}"></p>원
                            </div>
                        </div>
                        <a class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div id="pagination-container" class="pagination-container"></div>
        </div>
    </div>
</div>
<div class="scroll-buttons">
    <button id="scroll-up" onclick="scrollToTop()">▲</button>
    <button id="scroll-down" onclick="scrollToBottom()">▼</button>
</div>

<div th:replace="~{include/footer :: footer}"></div>
<script src="/js/shop-main.js"></script>
</body>

