<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>product-list</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/admin-product-list.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/main-header.css">
</head>
<body>

<div th:replace="~{/include/tab-header :: header}"></div>
<div th:replace="~{/include/admin-side :: side}"></div>

<div class="product-management-wrapper">
    <div class="title">상품관리</div>
    <div class="option-container">
        <p id="total-count">[총</p> <p id="count">100</p>개]
        <div class="option">
            <select name="select" id="sysdate">
                <option value="0">등록일 역순</option>
                <option value="1">등록일 정순</option>
            </select>
            <select name="select" id="select">
                <option value="20">10개씩 보기</option>
                <option value="30">20개씩 보기</option>
            </select>
        </div>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <td colspan="8" class="button-container">
                    <div class="btn_area">
                        <button type="button" class="product_del">삭제</button>
                    </div>
                </td>
            </tr>
            <tr>
                <th><input type="checkbox" /></th>
                <th>상품명</th>
                <th>판매가</th>
                <th>판매상태</th>
                <th>재고수정</th>
                <th>상품분류</th>
                <th>상품 등록일</th>
                <th>수정</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><input type="checkbox" /></td>
                <td>
                    <div class="productImg">
                        <img src="/images/d1.jpeg" />
                        <p>테스트 상품22</p>
                    </div>
                </td>
                <td>10,000</td>
                <td>
                    <select name="select" id="status">
                        <option value="">판매함</option>
                        <option value="">판매안함</option>
                    </select>
                </td>
                <td>
                    <input type="text" class="inventory" value="999"/>
                    <button class="modify_btn">변경</button>
                </td>
                <td>강아지/의류</td>
                <td>2019-06-14</td>
                <td>
                    <div class="actions">
                        <button class="modify_btn" th:onclick="|location.href='@{/admin/product-modi}'|">수정</button>
                        <button class="product_del">삭제</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- 페이징 -->
        <div class="clearfix">
            <ul class="pagination">
                <li class="page-item disabled"><a href="#">이전</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item active"><a href="#" class="page-link">4</a></li>
                <li class="page-item"><a href="#" class="page-link">5</a></li>
                <li class="page-item"><a href="#" class="page-link">6</a></li>
                <li class="page-item"><a href="#" class="page-link">7</a></li>
                <li class="page-item"><a href="#" class="page-link">8</a></li>
                <li class="page-item"><a href="#" class="page-link">9</a></li>
                <li class="page-item"><a href="#" class="page-link">10</a></li>
                <li class="page-item"><a href="#" class="page-link">다음</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>