<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/shop-purchase.css">
    <link rel="stylesheet" href="/js/shop-purchase.js">
</head>
<body>

<div th:replace="~{/include/tab-header :: header}"></div>
<div th:replace="~{/include/mypage-side :: side}"></div>

<div class="container">
    <div id="titleArea">
        <h1>주문/결제</h1>
    </div>

    <!-- 수령자 정보 -->
    <div id="shippingInfo_wrap" class="shippingInfo_wrap01">
        <div id="shippingInfo" class="title">
            <h2>배송지</h2>
        </div>
        <div class="contents">
            <div>
                <!-- 새 배송지 -->
                <div id="ec-shippingInfo-newAddress" class="tabCont newShipArea">
                    <div class="segment ec-shippingInfo-sameaddr displaynone">
                        <input id="sameaddr0" name="sameaddr" fw-filter="" fw-label="1" fw-msg="" value="M" type="radio" autocomplete="off" disabled>
                        <label for="sameaddr0">회원 정보와 동일</label>
                        <input id="sameaddr1" name="sameaddr" fw-filter="" fw-label="1" fw-msg="" value="F" type="radio" checked autocomplete="off" disabled>
                        <label for="sameaddr1">새로운 배송지</label>
                    </div>
                    <div class="ec-base-table typeWrite">
                        <table border="1">
                            <colgroup>
                                <col style="width:102px">
                                <col style="width:auto">
                            </colgroup>
                            <tbody>
                            <tr class="ec-shippingInfo-newAddress-name">
                                <th scope="row">받는사람 <span class="icoRequired">필수</span></th>
                                <td>
                                    <label for="rname"></label><input id="rname" name="rname" fw-filter="isFill" fw-label="수취자 성명" fw-msg="" class="inputTypeText" placeholder="" size="15" value="" type="text">
                                </td>
                            </tr>
                            <tr id="ec-receiver-address">
                                <th scope="row">주소 <span class=""><span class="icoRequired">필수</span></span></th>
                                <td>
                                    <ul class="ec-address">
                                        <li id="receiver_country_wrap" class="displaynone" style="display: none;">
                                        <span id="receiver_directInputCheck_wrap" class="ec-base-label">
                                            <input id="receiver_directInputCheck" name="receiver_directInputCheck" type="checkbox" disabled>
                                            <label id="receiver_directInputCheckLabel" for="receiver_directInputCheckLabel">직접입력</label>
                                        </span>
                                        </li>
                                        <li id="receiver_zipcode_wrap" class="ec-address-zipcode">
                                            <input id="rzipcode1" name="rzipcode1" placeholder="우편번호" fw-filter="isLengthRange[1][14]" class="inputTypeText" type="text" maxlength="14" readonly fw-label="우편번호">
                                            <button id="btn_search_rzipcode" class="btnBasic" type="button" style="cursor: pointer;">주소검색</button>
                                            <span class="ec-base-label">
                                                    <input id="no_rzipcode0" name="no_rzipcode0" class="displaynone" type="checkbox" disabled fw-filter="">
                                                    <label id="receiver_zipcode_check_label" for="no_rzipcode0" class="displaynone" disabled>우편번호 없음</label>
                                        </span>
                                            <span id="receiver_zipcodeNotFoundMsg_wrap" class="ec-base-label displaynone">우편번호가 정확하지 않습니다. 다시 확인해 주세요.</span>
                                        </li>
                                        <li id="receiver_baseAddr_wrap">
                                            <input id="raddr1" name="raddr1" placeholder="기본주소" fw-filter="isFill" class="inputTypeText" type="text" size="60" maxlength="100" readonly fw-label="기본주소">
                                        </li>
                                        <li id="receiver_detailAddr_wrap">
                                            <input id="raddr2" name="raddr2" placeholder="나머지 주소(선택 입력 가능)" fw-filter="" class="inputTypeText" type="text" size="60" maxlength="255" fw-label="나머지 주소(선택 입력 가능)">
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr class="ec-shippingInfo-receiverCell">
                                <th scope="row">휴대전화 <span class=""><span class="icoRequired">필수</span></span></th>
                                <td>
                                    <div class="ec-base-mail">
                                        <select id="rphone2_1" name="rphone2_[]" fw-filter="isNumber&amp;isFill" fw-label="수취자 핸드폰번호" fw-alone="N" fw-msg="">
                                            <option value="010">010</option>
                                            <option value="011">011</option>
                                            <option value="016">016</option>
                                            <option value="017">017</option>
                                            <option value="018">018</option>
                                            <option value="019">019</option>
                                        </select>-
                                        <input id="rphone2_2" name="rphone2_[]" maxlength="4" fw-filter="isNumber&amp;isFill" fw-label="수취자 핸드폰번호" fw-alone="N" fw-msg="" placeholder="" size="4" value="" type="text">-
                                        <input id="rphone2_3" name="rphone2_[]" maxlength="4" fw-filter="isNumber&amp;isFill" fw-label="수취자 핸드폰번호" fw-alone="N" fw-msg="" placeholder="" size="4" value="" type="text">
                                    </div>
                                </td>
                            </tr>
                            <tr class="ec-orderform-emailRow ec-shop-deliverySimpleForm">
                                <th scope="row">이메일 <span class="icoRequired icon_order_email" style="">필수</span></th>
                                <td>
                                    <div class="ec-base-mail">
                                        <input id="oemail1" name="oemail1" fw-filter="isFill" fw-label="주문자 이메일" fw-alone="N" fw-msg="" class="mailId" value="" type="text">@
                                        <span class="mailAddress">
                                                <select id="oemail3" fw-filter="isFill" fw-label="주문자 이메일" fw-alone="N" fw-msg="">
                                                    <option value="" selected="selected">-이메일 선택-</option>
                                                    <option value="naver.com">naver.com</option>
                                                    <option value="daum.net">daum.net</option>
                                                    <option value="nate.com">nate.com</option>
                                                    <option value="hotmail.com">hotmail.com</option>
                                                    <option value="yahoo.com">yahoo.com</option>
                                                    <option value="empas.com">empas.com</option>
                                                    <option value="korea.com">korea.com</option>
                                                    <option value="dreamwiz.com">dreamwiz.com</option>
                                                    <option value="gmail.com">gmail.com</option>
                                                    <option value="etc">직접입력</option>
                                                </select>
                                                <span class="directInput ec-compact-etc">
                                                    <input id="oemail2" name="oemail2" fw-filter="isFill" fw-label="주문자 이메일" fw-alone="N" fw-msg="" placeholder="직접입력" value="" type="text">
                                                </span>
                                            </span>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 국내배송 메시지 -->
            <div class="ec-shippingInfo-shippingMessage segment unique">
                <select id="omessage_select" name="omessage_select" fw-filter="" fw-label="배송 메세지" fw-msg="">
                    <option value="oMessage-0" selected="selected">-- 메시지 선택 (선택사항) --</option>
                    <option value="oMessage-1">배송 전에 미리 연락바랍니다.</option>
                    <option value="oMessage-2">부재 시 경비실에 맡겨주세요.</option>
                    <option value="oMessage-3">부재 시 문 앞에 놓아주세요.</option>
                    <option value="oMessage-4">빠른 배송 부탁드립니다.</option>
                    <option value="oMessage-5">택배함에 보관해 주세요.</option>
                    <option value="oMessage-input">직접 입력</option>
                </select>
                <div class="ec-shippingInfo-omessageInput gBlank10" style="display:none;">
                    <textarea id="omessage" name="omessage" fw-filter="" fw-label="배송 메세지" fw-msg="" maxlength="255" cols="70"></textarea>
                    <div class="gBlank10 displaynone">
                        <label><input id="omessage_autosave0" name="omessage_autosave[]" fw-filter="" fw-label="배송 메세지 저장" fw-msg="" value="T" type="checkbox" disabled=""><label for="omessage_autosave0"></label>[]에 자동 저장</label>
                        <ul class="ec-base-help">
                            <li>게시글은 비밀글로 저장되며 비밀번호는 주문번호 뒷자리로 자동 지정됩니다.</li>
                        </ul>
                    </div>
                </div>
            </div>


            <!-- 국내배송 기본 배송지 사용 -->
            <div class="ec-shippingInfo-newAddress-setMain segment displaynone" style="display: block;">
                <input id="set_main_address0" name="set_main_address[]" fw-filter="" fw-label="기본 배송지로 저장" fw-msg="" value="T" type="checkbox" disabled=""><label for="set_main_address0">기본 배송지로 저장</label>            </div>

            <!-- app tag -->
            <div id="ec-orderform-billingNshipping-tail"></div>

            <!-- [비회원주문] 간편 회원가입, 비회원 비밀번호 입력 -->
            <ec-jigsaw id="guest"><ec-jigsawpiece id="simpleJoinByOrderForm"><!--
                이 파일은 원터치 주문서의 읽기 전용 파일입니다.
                이 파일은 기능 업그레이드 시, 자동으로 개선된 소스가 적용되어 별도로 디자인 수정을 하지 않아도 됩니다 .
                원터치 주문서 조각 html 파일을 수정할 경우, 작성한 정보가 유실되거나 주문서 최신 기능이 자동 업그레이드되지 않을 수 있으니 유의해 주세요.
        -->
                <!-- 주문서 간편 회원가입 -->
                <div id="eSimpleJoinByOrderForm" class="xans-element- xans-member xans-member-simplejoin joinArea ">
                    <div class="agreeJoin">
                        <input type="checkbox" id="simple_join_is_check" value="F">
                        <label for="simple_join_is_check">배송지 정보로 간편 회원가입</label>
                    </div>
                    <div id="simpleJoinGuide" class="guide">
                        <ul class="ec-base-help">
                            <li>이메일, 아이디, 비밀번호만으로 간편하게 회원가입이 가능합니다.</li>
                            <li>회원가입 후 쿠폰, 이벤트 등 할인혜택을 받으실 수 있습니다.</li>
                        </ul>
                    </div>
                    <div id="simpleJoinDataForm" class="ec-base-table typeWrite" style="display: none;">
                        <table border="1">
                            <caption>간편 회원가입 정보 입력</caption>
                            <colgroup>
                                <col style="width:102px">
                                <col style="width:auto">
                            </colgroup>
                            <tbody>
                            <tr class="emailCheck ">
                                <th scope="row">이메일 <span class="icoRequired">필수</span>
                                </th>
                                <td>
                                    <div class="displayFlex"><input id="useCheckEmailDuplication" name="useCheckEmailDuplication" fw-filter="" fw-label="useCheckEmailDuplication" fw-msg="" value="F" type="hidden" disabled=""><input id="etc_subparam_email1" name="etc_subparam_email1" fw-filter="isFill" fw-label="이메일" fw-alone="N" fw-msg="" placeholder="" value="" type="text" disabled=""> <input id="emailDuplCheck" name="emailDuplCheck" fw-filter="" fw-label="email 중복 체크" fw-msg="" value="F" type="hidden" disabled=""><input id="login_id_type" name="login_id_type" fw-filter="" fw-label="로그인 아이디 타입" fw-msg="" value="id" type="hidden" disabled=""><button type="button" class="btnBasic" onclick="checkEmail(&#39;&#39;)">중복확인</button>
                                    </div>
                                    <ul class="ec-base-help"><li id="emailMsg">
                                    </li></ul>
                                </td>
                            </tr>
                            <tr class="idCheck ">
                                <th scope="row">아이디 <span class="icoRequired">필수</span>
                                </th>
                                <td>
                                    <div class="displayFlex"><input id="etc_subparam_member_id" name="etc_subparam_member_id" fw-filter="isFill&amp;isFill&amp;isMin[4]&amp;isMax[16]&amp;isIdentity" fw-label="아이디" fw-msg="" class="inputTypeText" placeholder="" value="" type="text" disabled=""> <input id="idDuplCheck" name="idDuplCheck" fw-filter="" fw-label="id 중복 체크" fw-msg="" value="" type="hidden" disabled=""><button type="button" class="btnBasic" onclick="checkId(&#39;&#39;)">중복확인</button>
                                    </div>
                                    <p id="idMsg" class="ec-base-help"></p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">비밀번호 <span class="icoRequired">필수</span>
                                </th>
                                <td>
                                    <input id="etc_subparam_passwd" name="etc_subparam_passwd" fw-filter="isFill&amp;isMin[4]&amp;isMax[16]" fw-label="비밀번호" fw-msg="" autocomplete="off" maxlength="16" 0="disabled" value="" type="password" disabled=""> <input id="etc_subparam_passwd_type" name="etc_subparam_passwd_type" fw-filter="" fw-label="etc_subparam_passwd_type" fw-msg="" value="B" type="hidden" disabled="">                            <p class="ec-base-help">(영문 대소문자/숫자/특수문자 중 2가지 이상 조합, 8자~16자)</p>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">비밀번호 <br>확인
                                    <span class="icoRequired">필수</span>
                                </th>
                                <td>
                                    <input id="etc_subparam_user_passwd_confirm" name="etc_subparam_user_passwd_confirm" fw-filter="isFill&amp;isMatch[etc_subparam_passwd]" fw-label="비밀번호 확인" fw-msg="비밀번호가 일치하지 않습니다." autocomplete="off" maxlength="16" 0="disabled" value="" type="password" disabled="">
                                    <p id="pwConfirmMsg" class="ec-base-help txtWarn"></p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </ec-jigsawpiece><ec-jigsawpiece print="always"><!-- app tag -->
                <div id="ec-orderform-guest-head"></div>

                <!-- 비회원 주문조회 -->
                <div class="pannelArea ec-orderform-NoMemberPasswdRow ">
                    <div class="title">
                        <h2>비회원 주문조회 비밀번호</h2>
                    </div>
                    <div class="contents">
                        <div class="ec-base-table typeWrite">
                            <table border="1">
                                <colgroup>
                                    <col style="width:222px">
                                    <col style="width:auto">
                                </colgroup>
                                <tbody>
                                <tr>
                                    <th scope="row">비밀번호</th>
                                    <td>
                                        <input id="order_password" name="order_password" fw-filter="isFill" fw-label="비회원결제 비밀번호" fw-msg="" size="7" maxlength="16" value="" type="password">                                <span id="order_password_alert" class="ec-base-help txtWarn gBlank5"></span>
                                        <span id="order_password_msg" class="ec-base-help gBlank5"> (영문대소문자/숫자/특수문자 중 2가지 이상 조합, 10자~16자)</span>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">비밀번호 확인</th>
                                    <td>
                                        <input id="order_password_confirm" name="order_password_confirm" fw-filter="isFill&amp;isMatch[order_password]" fw-label="비회원결제 비밀번호 확인" fw-msg="" size="7" maxlength="16" value="" type="password">                                <span id="order_password_confirm_alert" class="ec-base-help txtWarn gBlank5"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- app tag -->
                <div id="ec-orderform-guest-tail"></div>
            </ec-jigsawpiece></ec-jigsaw>
        </div>
    </div>

    <!-- [주문상품] -->
    <div id="ec-jigsaw-area-orderProduct" class="ec-base-fold eToggle selected">
        <div id="ec-jigsaw-title-orderProduct" class="title">
            <h2>주문상품</h2>
        </div>
        <div class="contents">
            <!-- 국내배송상품 주문내역 -->
            <div class="orderArea ">
                <!-- 기본배송 -->
                <div class="xans-element- xans-order xans-order-normallist"><!-- 참고: 상품반복 -->
                    <div class="ec-base-prdInfo xans-record-">
                        <div class="prdBox">
                            <div class="displaynone">
                                <input id="chk_order_cancel_list0" name="chk_order_cancel_list_basic0" value="53:000A:F:47" type="checkbox" disabled="">
                            </div>
                            <div class="thumbnail">
                                <a href="#"><img src="#" alt="" width="90" height="90"></a>
                            </div>
                            <div class="description">
                                <strong class="prdName" title="상품명">
                                    <a href="#해당상품새창열기" class="ec-product-name">퐁퐁패딩(베이지)</a></strong>
                                <ul class="info">
                                    <li title="옵션">
                                        <p class="option ">[옵션: XS]</p>
                                    </li>
                                    <li>수량: 2개</li>ㅇ
                                </ul>
                                <div class="proPrice">
                                    <span class="totalPrice">112,000원</span>

                                </div>
                            </div>
                            <button type="button" class="btnRemove " id="btn_product_one_delete_id0" prd="53:000A:F:47" set_prd_type="">삭제</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ec-jigsawWrapper">
        <div id="ec-orderform-discount-head"></div>

        <div id="ec-jigsaw-area-discount" class="ec-base-fold eToggle selected">
            <div id="ec-jigsaw-title-discount" class="title">
                <h2>할인/부가결제</h2>
                <span id="ec-jigsaw-heading-discount" class="txtStrong gRight" style="display: none;">
                    -<span id="discount_total_sale_price_view">0</span>원
                    <span class="displaynone"><span id="discount_total_sale_price_ref_view"><span class="eRefPrice"></span></span></span>
                </span>
            </div>
            <div class="contents">
                <div class="discountDetail displaynone" id="ec-shop-orderfom-total-benefit-view-id" style="display: none;">
                    <div class="discountList eToggle">
                        <div class="title">
                            <div class="heading">자동 할인</div>
                            <div class="control">
                                <span class="txtEm"><span id="total_benefit_price_view">0</span>원</span>
                            </div>
                        </div>
                        <div class="contents">
                            <ul id="total_benefit_list">
                                <li class="displaynone ">
                                    <span class="discountName">정기배송할인</span>
                                    <span class="discountPrice"><span id="mBenefitSubscriptionPayseqSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitPeriodSale">
                                    <span class="discountName">기간할인</span>
                                    <span class="discountPrice"><span id="mBenefitPeriodSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitMemberSale">
                                    <span class="discountName">회원할인</span>
                                    <span class="discountPrice"><span id="mBenefitMemberSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitRebuySale">
                                    <span class="discountName">재구매할인</span>
                                    <span class="discountPrice"><span id="mBenefitRebuySale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitBulkSale">
                                    <span class="discountName">대량구매할인</span>
                                    <span class="discountPrice"><span id="mBenefitBulkSale">0원</span></span>
                                </li>
                                <li class="displaynone">
                                    <span class="discountName">바로가기(링콘)할인</span>
                                    <span class="discountPrice"><span id="mBenefitLivelinkonSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitNewproductSale">
                                    <span class="discountName">신규상품할인</span>
                                    <span class="discountPrice"><span id="mBenefitNewproductSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitSetproductSale">
                                    <span class="discountName">세트할인</span>
                                    <span class="discountPrice"><span id="mBenefitSetproductSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitShipfeeSale" style="display: none;">
                                    <span class="discountName">배송비할인</span>
                                    <span class="discountPrice"><span id="mBenefitShipfeeSale">0원</span></span>
                                </li>
                                <li class="displaynone ec-shop-mBenefitMembergroupSale" style="display: none;">
                                    <span class="discountName">회원등급할인</span>
                                    <span class="discountPrice"><span id="mBenefitMembergroupSale">0원</span></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="discountDetail  mDiscountcodeSelect">
                    <div class="displayblock">
                        <strong class="heading">할인코드 적용</strong>
                        <div class="control">
                            <input type="text" name="ec_discountcode" class="inputTypeText">
                            <a href="https://m.lovecoco.co.kr/order/orderform.html?basket_type=A0000&amp;delvtype=A&amp;delvtype=A#none" id="ec_discountcode" class="btnNormal">적용</a>
                        </div>
                    </div>
                </div>
                <div class="totalPay">
                    <h3 class="heading">적용금액</h3>
                    <div class="txtEm">
                        -<span id="total_sale_price_view">0</span>원                    <span class="refer displaynone">(<span id="total_sale_price_ref_view"><span class="eRefPrice"></span></span>)</span>
                    </div>
                    <span class="displaynone" id="total_addpay_price_view">0</span>
                </div>
            </div>
        </div>

    </div>


    <!-- 결제정보 Section -->
    <div id="paymentInfo_wrap" class="paymentInfo_wrap01">
        <div id="paymentInfo" class="title">
            <h2>결제정보</h2>
        </div>
        <div class="contents">
            <div class="ec-base-table typeWrite">
                <table border="1">
                    <colgroup>
                        <col style="width:150px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">주문상품</th>
                        <td class="right"><span id="total_product_base_price_id" class="price">112,000원</span></td>
                    </tr>
                    <tr>
                        <th scope="row">부가세</th>
                        <td class="right"><span class="price"><span id="total_vat_price_id">+0원</span></span></td>
                    </tr>
                    <tr>
                        <th scope="row">배송비</th>
                        <td class="right"><span class="price">+<span id="total_ship_price_id">0원</span></span></td>
                    </tr>
                    <tr class="discountView">
                        <th scope="row">할인/부가결제</th>
                        <td class="right"><span class="price"><span class="txtRed">-<span class="eRefPrice" id="payment_total_sale_price_view">0</span></span>원</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="totalPay paymentPrice">
                <h3 class="heading">최종 결제 금액</h3>
                <strong class="txtStrong">
                    <span id="payment_total_order_sale_price_view">112,000 원</span>
                </strong>
            </div>
        </div>
    </div>

    <!-- [결제수단] -->
    <div id="ec-jigsaw-area-paymethod" class="ec-base-fold eToggle selected">
        <div id="ec-jigsaw-title-paymethod" class="title">
            <h2>결제수단</h2>
        </div>
        <div class="contents">


            <div class="segment">
                <ul class="payMethod">
                    <li class="ec-paymethod-newArea selected">
                        <div class="inner">
                            <span class="ec-base-label"><input id="addr_paymethod0" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="cash" type="radio" checked="checked" autocomplete="off"><label for="addr_paymethod0">무통장 입금</label></span>
                            <span class="ec-base-label"><input id="addr_paymethod1" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="card" type="radio" autocomplete="off"><label for="addr_paymethod1">카드 결제</label></span>
                            <span class="ec-base-label"><input id="addr_paymethod2" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="icash" type="radio" autocomplete="off"><label for="addr_paymethod2">가상계좌</label></span>
                            <span class="ec-base-label"><input id="addr_paymethod3" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="tcash" type="radio" autocomplete="off"><label for="addr_paymethod3">실시간 계좌이체</label></span>
                            <span class="ec-base-label"><input id="addr_paymethod4" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="cell" type="radio" autocomplete="off"><label for="addr_paymethod4">휴대폰 결제</label></span>                    </div>
                    </li>
                </ul>
            </div>

            <div class="ec-paymethod-input-detail">
                <div id="payment_input_cash" class="ec-base-table typeWrite" style="">
                    <table border="1">
                        <caption>무통장입금 정보 입력</caption>
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">입금은행 <span class="icoRequired">필수</span>
                            </th>
                            <td>
                                <select id="bankaccount" name="bankaccount" fw-filter="" fw-label="무통장 입금은행" fw-msg="">
                                    <option value="-1">::: 선택해 주세요. :::</option>
                                    <option value="bank_04:02483704005711:주식회사상상타래:국민은행:www.kbstar.com">국민은행 02483704005711 주식회사상상타래</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">입금자명 <span class="icoRequired">필수</span>
                            </th>
                            <td><input id="pname" name="pname" fw-filter="" fw-label="무통장 입금자명" fw-msg="" class="inputTypeText" placeholder="" size="15" maxlength="20" value="" type="text"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="payment_input_tcash" class="ec-base-table typeWrite" style="display: none;">
                    <table border="1">
                        <caption>실시간 계좌이체 정보 입력</caption>
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:auto">
                        </colgroup>
                        <tbody><tr>
                            <th scope="row">예금주명 <span class="icoRequired">필수</span>
                            </th>
                            <td>
                                <input id="allat_account_nm" name="allat_account_nm" fw-filter="" fw-label="무통장 입금자명" fw-msg="" class="inputTypeText" placeholder="" size="26" maxlength="30" value="" type="text">
                            </td>
                        </tr></tbody>
                    </table>
                </div>

                <div id="payment_input_icash" class="ec-base-table typeWrite" style="display: none;">
                    <table border="1">
                        <caption>에스크로(가상계좌)</caption>
                        <colgroup>
                            <col style="width:100px">
                            <col style="width:auto">
                        </colgroup>
                        <tbody><tr>
                            <th scope="row">에스크로</th>
                            <td>
                                <input id="flagEscrowIcashUse0" name="flagEscrowIcashUse" fw-filter="" fw-label="에스크로(구매안전)" fw-msg="" value="T" type="checkbox"><label for="flagEscrowIcashUse0"></label><label for="flagEscrowIcashUse0">에스크로(구매안전)서비스를 적용합니다.</label>
                            </td>
                        </tr></tbody>
                    </table>
                </div>

                <!-- 카드사 직접결제: 카드/할부선택 -->
                <div class="ec-base-table typeWrite">

                    <input type="hidden" name="use_directpay_card" id="use_directpay_card" value="T">
                    <input type="hidden" name="directpay_card_code" id="directpay_card_code" value="">
                    <input type="hidden" name="directpay_card_method" id="directpay_card_method" value="">
                    <input type="hidden" name="directpay_card_installment" id="directpay_card_installment" value="">

                    <div class="ec-order-payment-card" id="ec-order-payment-directpay-card-form" style="display: none;">
                        <table border="1" summary="">
                            <caption>카드결제</caption>
                            <tbody>
                            <tr>
                                <th scope="row">카드선택</th>
                                <td>

                                    <select class="cardSelect" id="directpay_card_code_select">
                                        <option value="" selected="selected">선택해주세요.</option>
                                        <option value="card_12">신한카드</option><option value="card_04">비씨카드</option><option value="card_06">우리카드</option><option value="card_01">KB국민카드</option><option value="card_18">롯데카드</option><option value="card_17">현대카드</option><option value="card_16">삼성카드</option><option value="card_19">NH카드</option><option value="card_05">하나카드</option><option value="card_09">씨티카드</option><option value="card_44">카카오뱅크</option><option value="card_15">광주카드</option><option value="card_08">전북카드</option><option value="card_07">수협카드</option><option value="card_14">제주카드</option><option value="card_42">신협카드</option><option value="card_37">우체국체크카드</option><option value="card_38">새마을금고</option><option value="card_31">저축은행카드</option><option value="card_36">KDB산업체크카드</option></select>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">할부기간</th>
                                <td>
                                    <select class="cardSelect" id="directpay_card_installment_select" disabled="disabled"><option value="0">일시불</option></select>
                                    <div class="pgBanner" id="BM_BANNER_ROLLING_BOX"></div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><p class="ec-base-help typeDash">법인카드는 무이자 할부 적용이 되지 않습니다.</p></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- 결제수단 저장 -->
            <div class="saveArea segment unique displaynone">
                <input type="checkbox" id="save_paymethod" name="save_paymethod" value="" disabled=""><label for="save_paymethod">결제수단과 입력정보를 다음에도 사용</label>
            </div>
        </div>
    </div>

    <div id="ec-jigsaw-area-agreement">
        <div class="agreeArea" id="all_agreement_checkbox">
            <div class="allAgree">
                <input type="checkbox" id="allAgree"><label for="allAgree"><strong>모든 약관 동의</strong></label>
            </div>
            <div class="agreement">
                <ul>
                    <!-- 구매조건 확인 및 결제진행 동의 -->
                    <li id="chk_purchase_agreement" class="displaynone" style="display: list-item;">
                        <div class="agree">
                            <span class="check" style="">
                                <input id="chk_purchase_agreement0" name="chk_purchase_agreement"
                                       fw-filter="" fw-label="구매진행 동의" fw-msg="" value="T" type="checkbox"
                                       disabled="" style="">
                                <label for="chk_purchase_agreement0">
                                    <span class="txtEm">[필수]</span> 구매조건 확인 및 결제진행 동의
                                </label>
                            </span>
                        </div>
                    </li>

                    <!-- 쇼핑몰 이용약관 동의 -->
                    <li class="">
                        <div class="agree">
                            <span class="check">
                                <input id="mallAgree" name="mallAgree" type="checkbox">
                                <label for="mallAgree">
                                    <span class="txtEm">[필수]</span> 쇼핑몰 이용약관 동의
                                </label>
                            </span>
                            <span style="display:none;">
                                <input id="mall_agreement_radio0" name="mall_agreement" fw-filter="isFill"
                                       fw-label="쇼핑몰 이용약관 동의" fw-msg="" value="T" type="radio"
                                       autocomplete="off">
                                    <label for="mall_agreement_radio0">동의함</label>
                                <input id="mall_agreement_radio1" name="mall_agreement" fw-filter="isFill"
                                       fw-label="쇼핑몰 이용약관 동의" fw-msg="" value="F" type="radio" checked="checked"
                                       autocomplete="off">
                                    <label for="mall_agreement_radio1">동의안함</label>
                            </span>
                            <button type="button" class="btnAgree" onclick="#">내용보기</button>
                        </div>
                    </li>
                    <!-- 개인정보 수집 및 이용 동의 (구매시) -->
                    <li id="ec-orderform-OrderAgreementRow" class="">
                        <div class="agree">
                            <span class="check">
                                <input id="personAgree" name="personAgree" type="checkbox">
                                <label for="personAgree">
                                    <span class="txtEm">[필수]</span> 개인정보 수집 및 이용 동의
                                </label>
                            </span>

                            <button type="button" class="btnAgree" onclick="viewPersonAgree();">내용보기</button>
                        </div>
                    </li>
                    <div class="checkNone">
                        <ul>
                            <!-- 구매조건 확인 및 결제진행 동의 -->
                            <li id="chk_purchase_agreement1" style="">
                                <div class="agree">
                                    <span class="check">
                                        <label for="chk_purchase_agreement0">구매조건 확인 및 결제진행 동의</label>
                                        <label for="chk_purchase_agreement00">주문 내용을 확인하였으며 약관에 동의합니다.</label>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-base-button gFull" id="orderFixItem">
                        <button type="button" class="btnSubmit" id="btn_payment">
                            <span id="total_order_sale_price_view">112,000</span>원 <span class="">결제하기</span>
                        </button>
                    </div>
                    <div class="helpArea">
                        <ul class="ec-base-help typeDash">
                            <li class="displaynone"><span class="txtEm">상기 금액은 결제 시점의 금액과 다를 수 있습니다.</span></li>
                            <li>무이자할부가 적용되지 않은 상품과 무이자할부가 가능한 상품을 동시에 구매할 경우 전체 주문 상품 금액에 대해 무이자할부가 적용되지 않습니다. 무이자할부를 원하시는 경우 장바구니에서 무이자할부 상품만 선택하여 주문하여 주시기 바랍니다.</li>
                            <li>최소 결제 가능 금액은 결제금액에서 배송비를 제외한 금액입니다.</li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>