<!DOCTYPE html>

<div th:replace="~{include/header :: header}"></div>
<link rel="stylesheet" href="/css/shop-product-detail.css">
<body>
<!--PreLoader Ends-->
<div class="breadcrumb-section breadcrumb-bg">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="breadcrumb-text">
					<p>반려동물 용품</p>
					<h1>AniMall</h1>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- single product -->
<div class="single-product mt-150 mb-150">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<div class="single-product-img">
					<img src="#" alt="hi1">
				</div>
			</div>
			<div class="col-md-7">
				<div class="single-product-content">
					<h3>상 품 이 름</h3>
					<p class="single-product-pricing"><span>Per Kg (단위 혹은 갯수)</span>$50 가격</p>
					<p>상품 설명 들어갈 자리입니다. 바로 구매 버튼을 누르면 로그인 페이지 혹은 그냥 결제 페이지로 이동. 관심 상품은 현재 재고가 없어도 등록 가능. 장바구니는 재고가 없으면 장바구니 담기 불가. IDEA: 재고 갯수가 5개 이하 남았을 경우 고객이 장바구니를 클릭하면 한정 수량 남았다는 메세지를 보여주는건 어떨까?</p>
					<div class="single-product-form">

						<form action="#">

							<input type="number" id="quantity" placeholder="수량을 입력하세요" min="1">
							<div class="size-selector">
								<select id="size">
									<option value="" disabled selected>[필수] 옵션을 선택해 주세요</option>
									<option value="S">Small</option>
									<option value="M">Medium</option>
									<option value="L">Large</option>
								</select>
							</div>
						</form>
						<p>Total Price: $<span id="total-price" th:text="${price}">50</span></p>
						<div class="button-group">
							<a href="#" class="purch-btn"><i class="fas fa-bolt"></i>  바로 구매  </a>
							<a href="#" class="wish-btn"><i class="fas fa-heart"></i> 관심 상품 </a>
							<a href="#" class="cart-btn cart-btn-emphasis-orange"><i class="fas fa-shopping-cart"></i> 장바구니 </a>
						</div>

						<p><strong>Categories: </strong>Fruits, Organic - 카테고리 분류란 DB에 저장된 그대로.. 자동분류?</p>
					</div>
					<h4>Share:</h4>
					<ul class="product-share">
						<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
						<li><a href=""><i class="fab fa-twitter"></i></a></li>
						<li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
						<li><a href=""><i class="fab fa-linkedin"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end single product -->

<!-- more products -->
<div class="more-products mb-150">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 offset-lg-2 text-center">
				<div class="section-title">
					<h3><span class="orange-text">아마 이것도..</span> 나쁘진 않을껄요?</h3>
					<p>아래 또 다른 상품들이 슬라이드 지나가듯이 지나가게 하는건 어떨런지..?</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="shop-product-detail.html"><img src="#" alt="추천상품1"></a>
					</div>
					<h3>Strawberry</h3>
					<p class="product-price"><span>Per Kg</span> 85$ </p>
					<a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="shop-product-detail.html"><img src="#" alt="추천상품2"></a>
					</div>
					<h3>Berry</h3>
					<p class="product-price"><span>Per Kg</span> 70$ </p>
					<a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
			<div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3 text-center">
				<div class="single-product-item">
					<div class="product-image">
						<a href="shop-product-detail.html"><img src="#" alt="추천상품3"></a>
					</div>
					<h3>Lemon</h3>
					<p class="product-price"><span>Per Kg</span> 35$ </p>
					<a href="#" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- end more products -->

<div th:replace="~{include/footer :: footer}"></div>

<script src="/js/shop-main.js"></script>

</body>