<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device=width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/purchase_noMember.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/purchase_noMember.js" defer></script>
</head>
<body>
<div class="main-content">
    <h1>주문서 작성</h1>

    <h2>국내배송상품 주문내역</h2>
    <table>
        <thead>
        <tr>
            <th>이미지</th>
            <th>상품정보</th>
            <th>판매가</th>
            <th>수량</th>
            <th>적립금</th>
            <th>배송구분</th>
            <th>배송비</th>
            <th>합계</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <!-- 그냥 예시 -->
            <td>상품 1</td>
            <td>₩10,000</td>
            <td>1</td>
            <td>기본배송</td>
            <td>₩2,500</td>
            <td>₩12,500</td>
        </tr>
        <!-- 더 많은 상품 행이 있을 수 있습니다 -->
        </tbody>
    </table>

    <h2>간단 회원가입</h2>
    <div class="agreeJoin">
        <span class="check">
            <input type="checkbox" name="simple_join" id="simple_join" value="F"
        <em class="checkbox"></em>
        </span>

    <!-- JS : 체크박스 클릭하면 간단한 회원 가입 폼 뜨기 -->
        <label for="simple_join">
            <strong class="txt_simple_join">이메일, 아이디, 비밀번호 입력만으로 주문과 동시에 회원가입 가능</strong>
        </label>

    </div>
    <div id="simpleJoinGuide" class="guide" style="display:none;">
        <ul class="list">
            <li>-이메일, 아이디, 비밀번호만으로 간편하게 회원가입 가능하비다.</li>
            <li>-회원가입 후 쿠폰, 이벤트 등 할인혜택을 받으실 수 있습니다.</li>
        </ul>
    </div>


    <h2>배송 정보</h2>
    <div class="orderArea">
        <div class="title">
            <p class="requiredInfo">
                *필수입력사항
            </p>
        </div>

        <div class="base-table typeWrite">
            <table>
                <colgroup>
                    <col style="width:139px;">
                    <col style="width:auto;">
                </colgroup>
  <!-- 비회원 결제 -->
                <tbody class="inputInfo">
                    <tr class="inputInfo_item1">
                        <th scope="row">
                            주문조회 비밀번호 * :
                        </th>
                        <td>
                            <input id="order_password" name="order_password"
                                   fw-filter="isFill" fw-label="비회원결제 비밀번호"
                                   fw-msg size="7" maxlength="16" value="" type="password">
    <!-- 이건 뭘까 -->
                            <span id="order_password_alert" class="textwarn"></span>
                            <span id="order_password_msg">(영문대소문/숫자/특수문자 중 2가지 이상 조합, 6자~16자</span>
                        </td>
                    </tr>
                    <tr class="inputInfo_item2">
                        <th scope="row">
                            주문조회 비밀번호
                            <br>
                            확인 * :
                        </th>
                        <td>
                            <input id="order_password_confirm" name="order_password_confirm"
                                    fw-filter="isFill&isMatch[order_password]" fw-label="비회원결제 비밀번호 확인"
                                    fw-msg size="7" maxlength="16" value="" type="password">
                            <span id="order_password_confirm_alert" class="textwarn"></span>
                        </td>
                    </tr>
                </tbody>

                <tbody class>
                    <tr>
                        <th scope="row">
                            받으시는 분 * :
                        </th>
                        <td>
                            <input id="rname" name="rname" fw-filter="isFill" fw-label="수취자 성명"
                                   fw-msg class="inputTypeText" placeholder="" size="15" value="" type="text">
                        </td>
                    </tr>
                    <tr>
                       <th scope="row">
                           주소 :
                       </th>
                        <td>
                            <input id="rzipcode1" name="rzipcode1" fw-filter="isFill"
                                   fw-label="수취자 우편번호1" fw-msg="" class="inputTypeText"
                                   placeholder="" size="6" maxlength="6" readonly="1"
                                   value="" type="text">
                            <a href="#none" id="btn_search_rzipcode" class="btnNormal">
                                우편번호
                            </a>
                            <br>
                            <input id="raddr1" name="raddr1" fw-filter="isFill"
                                   fw-label="수취자 주소1" fw-msg="" class="inputTypeText"
                                   placeholder="" size="40" readonly="1" value=""
                                   type="text">
                            <span class="grid">
                                기본주소
                            </span>
                            <br>
                            <input id="raddr2" name="raddr2" fw-filter="" fw-label="수취자 주소2"
                                   fw-msg="" class="inputTypeText" placeholder=""
                                   size="40" value="" type="text">
                            <span class="grid">
                                나머지주소
                            </span>
                            <span class="grid ">
                                (선택입력가능)
                            </span>
                        </td>
                    </tr>

                    <tr class="rcellphone">
                        <th scope="row">
                            <span class="rcellphone1">
                                <img src="/static/images/redBullet.png" alt="필수" height="10px" length="10px">
                            휴대전화 :
                            </span>
                        </th>
                        <td>
                            <select id="rphone2_1" name="rphone2_[]" fw-filter="isNumber&amp;isFill"
                                    fw-label="수취자 핸드폰번호" fw-alone="N" fw-msg="">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>

                            </select>
                            -
                            <input id="rphone2_2" name="rphone2_[]" maxlength="4"
                                       fw-filter="isNumber&amp;isFill" fw-label="수취자 핸드폰번호"
                                       fw-alone="N" fw-msg="" placeholder="" size="4" value="" type="text">
                            -
                            <input id="rphone2_3" name="rphone2_[]" maxlength="4"
                                   fw-filter="isNumber&amp;isFill" fw-label="수취자 핸드폰번호"
                                   fw-alone="N" fw-msg="" placeholder="" size="4" value="" type="text">
                        </td>
                    </tr>
                </tbody>
                <tbody class="deliveryInfo">
                    <tr class="">
                        <th scope="row">
                            배송메시지
                        </th>
                        <td>
                            <textarea id="deliverymessage" name="deliverymessage" fw-filter=""
                                      fw-label="배송 메세지" fw-msg="" maxlength="255" cols="70">
                            </textarea>
                        </td>
                    </tr>
                </tbody>

                <div class="termArea">
                    <div class="check">
                        <input id="all_agreement_checkbox0" name="all_agreement_checkbox[]" fw-filter=""
                               fw-label="쇼핑몰 이용약관, 개인정보 수집 및 이용 동의에 모두 동의" fw-msg="" value="T" type="checkbox">
                        <label for="all_agreement_checkbox0">
                            모든 약관 동의
                        </label>
                    </div>

                    <div class="inner">
                        <div class="box">
                            <h4>쇼핑몰 이용약관</h4>

                            <textarea id="mall_agreement" name="mall_agreement" fw-filter=""
                                      fw-label="쇼핑몰 이용약관" fw-msg="" maxlength="250" cols="70" rows="10" readonly="1">
                                      <th:text="${agreementText}">
                            </textarea>

                            <input id="mall_agreement_checkbox0" name="mall_agreement_checkbox[]" fw-filter=""
                                   fw-label="쇼핑몰 이용약관 동의" fw-msg="" value="T" type="checkbox">
                            <label for="mall_agreement_checkbox0">
                                동의
                            </label>
                        </div>

                        <div class="box " id="mall_agreement_no_member">
                            <h4>비회원 구매 시 개인정보수집 이용동의</h4>

                            <textarea id="nm_terms" name="nm_terms" fw-filter="" fw-label="개인정보 수집 및 이용 동의"
                                      fw-msg="" maxlength="250" cols="70" readonly="1">
                                <th:text="${agreementText}">
                            </textarea>

                            <input id="no_member_agreement_checkbox0" name="no_member_agreement_checkbox[]" fw-filter=""
                                   fw-label="개인정보 수집 및 이용 동의" fw-msg="" value="T" type="checkbox">
                            <label for="no_member_agreement_checkbox0">동의</label>
                        </div>

                        <div class="title">
                            <h3>결제 예정 금액</h3>
                        </div>







<!-- ################################################       2024 - 05 - 29             ############### -->




                        <div class="totalArea">
                            <div class="totalArea_table">
                                <table border="1" summary="">
                                    <caption>결제 예정 금액</caption>
                                    <colgroup>
                                        <col style="width:33.33%">
                                        <col style="width:33.33%" class="">
                                        <col style="width:33.33%">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th scope="col">
                                                <strong>총 주문 금액</strong>
                                                <a href="#none" onclick="#" class="btnSummary">
                                                    내역보기
                                                </a>
                                            </th>
                                            <th scope="col" class="">
                                                <strong>총 </strong>
                                                <strong id="total_addsale_text" class="">
                                                    할인
                                                </strong>
                                                <strong id="plus_mark" class=""> + </strong>
                                                <strong id="total_addpay_text" class="">
                                                    부가결제
                                                </strong>
                                                <strong> 금액</strong>
                                            </th>
                                            <th scope="col"><strong>총 결제예정 금액</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody class="center">
                                        <tr>
                                            <td class="price">
                                                <div class="box_total_order_price">
                                                    <strong>
                                                        <span id="total_order_price_view" class="total_order_price">35,000</span>원</strong>
                                                </div>
                                            </td>
                                            <td class="option ">
                                                <div class="box_price_option">
                                                    <strong>-</strong>
                                                        <strong>
                                                            <span id="total_sale_price_view" class="txt23">
                                                                0
                                                            </span>
                                                            원
                                                        </strong>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="box_total_payment">
                                                <strong>=</strong>
                                                    <strong>
                                                        <span id="total_order_sale_price_view" class="txt23">
                                                            35,000
                                                        </span>
                                                        원
                                                    </strong>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="detail">
                                <div class="ec-base-table gMerge ">
                                    <table border="1" summary="">
                                        <caption>할인 내역</caption>
                                        <colgroup>
                                            <col style="width:139px">
                                            <col style="width:auto">
                                        </colgroup>
                                        <tbody>
                                        <tr class="sum txt14">
                                            <th scope="row"><strong>총 할인금액</strong></th>
                                            <td><strong id="total_addsale_price_view">0</strong>원</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                                <div class="ec-base-table gMerge ">
                                    <table border="1" summary="">
                                        <caption>부가결제 내역</caption>
                                        <colgroup>
                                            <col style="width:139px">
                                            <col style="width:auto">
                                        </colgroup>
                                        <tbody>
                                            <tr class="sum txt14">
                                                <th scope="row">
                                                    <strong>총 부가결제금액</strong>
                                                </th>
                                                <td>
                                                    <strong id="total_addpay_price_view">
                                                        0
                                                    </strong>원
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="payment-method">
                            <h3>결제수단</h3>
                        </div>
                        <div class="payArea">
                            <div class="payment">
                                <div class="method">
                                    <span class="ec-base-label"><input id="addr_paymethod0" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="cash" type="radio" checked="checked" autocomplete="off">
                                        <label for="addr_paymethod0">무통장 입금</label>
                                    </span>
                                    <span class="ec-base-label"><input id="addr_paymethod1" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="card" type="radio" autocomplete="off">
                                        <label for="addr_paymethod1">카드 결제</label>
                                    </span>
                                    <span class="ec-base-label"><input id="addr_paymethod2" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="icash" type="radio" autocomplete="off">
                                        <label for="addr_paymethod2">가상계좌</label>
                                    </span>
                                    <span class="ec-base-label"><input id="addr_paymethod3" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="tcash" type="radio" autocomplete="off">
                                        <label for="addr_paymethod3">실시간 계좌이체</label>
                                    </span>
                                    <span class="ec-base-label"><input id="addr_paymethod4" name="addr_paymethod" fw-filter="isFill" fw-label="결제방식" fw-msg="" value="cell" type="radio" autocomplete="off">
                                        <label for="addr_paymethod4">휴대폰 결제</label>
                                    </span>
                                </div>

    <!-- ---------------------- 카드사 직접결제 -------------------- -->

                                <input type="hidden" name="use_directpay_card" id="use_directpay_card" value="T">
                                <input type="hidden" name="directpay_card_code" id="directpay_card_code" value="">
                                <input type="hidden" name="directpay_card_method" id="directpay_card_method" value="">
                                <input type="hidden" name="directpay_card_installment" id="directpay_card_installment" value="">

                                <div class="ec-order-payment-card" id="ec-order-payment-directpay-card-form" style="">
                                    <div class="ec-base-table tableClear">
                                        <table border="1" summary="">
                                            <caption>카드결제</caption>
                                            <colgroup>
                                                <col style="width:100px">
                                                <col style="width:auto">
                                            </colgroup>
                                            <tbody class="top">
                                            <tr>
                                                <th scope="row">카드선택</th>
                                                <td>
                                                    <select class="cardSelect" id="directpay_card_code_select">
                                                        <option value="" selected="selected">=선택해주세요=</option>
                                                        <option value="card_12">신한카드</option><option value="card_04">비씨카드</option><option value="card_06">우리카드</option><option value="card_01">KB국민카드</option><option value="card_18">롯데카드</option><option value="card_17">현대카드</option><option value="card_16">삼성카드</option><option value="card_19">NH카드</option><option value="card_05">하나카드</option><option value="card_09">씨티카드</option><option value="card_44">카카오뱅크</option><option value="card_15">광주카드</option><option value="card_08">전북카드</option><option value="card_07">수협카드</option><option value="card_14">제주카드</option><option value="card_42">신협카드</option><option value="card_37">우체국체크카드</option><option value="card_38">새마을금고</option><option value="card_31">저축은행카드</option><option value="card_36">KDB산업체크카드</option></select>
                                                    <span class="cardMethod" id="ec-order-payment-directpay-card-method">
                                                        지우까?
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">할부기간</th>
                                                <td>
                                                    <select class="cardSelect" id="directpay_card_installment_select" disabled="disabled">
                                                        <option value="0">일시불</option>
                                                    </select>
                                                    <span class="ec-base-help">법인카드는 무이자 할부 적용이 되지 않습니다.</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">결제안내</th>
                                                <td>
                                                    <a href="#none" class="btnNormal" onclick="window.open('/protected/order/payment_guide_certificate.html', '', 'width=450,height=382');return false;">공인인증서 발급안내</a>
                                                    <a href="#none" class="btnNormal" onclick="window.open('/protected/order/payment_guide_secure.html', '', 'width=490,height=469');return false;">안심클릭 안내</a>
                                                    <a href="#none" class="btnNormal" onclick="window.open('/protected/order/payment_guide_isp.html', '', 'width=455,height=524');return false;">안전결제(ISP) 안내</a>
                                                    <div class="pgBanner" id="BM_BANNER_ROLLING_BOX"></div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <div class="ec-order-payment-card" id="ec-order-payment-directpay-card-agree" style="">
                                    <div class="paymentAgree">
                                        <div class="all">
                                            <input type="checkbox" id="directpay_card_agree_all"> &nbsp;
                                                <label for="directpay_card_agree_all">
                                                    결제대행서비스 약관에 모두 동의합니다.
                                                </label>
                                            <button type="button" class="btnToggle" id="ec-order-directpay-card-agree-toggle">
                                                전체보기
                                            </button>
                                        </div>
                                        <div class="detail">
                                            <p class="check">
                                                <input type="checkbox" id="directpay_card_agree_financial" class="directpay_card_agree_checkbox">
                                                    <label for="directpay_card_agree_financial">
                                                        전자금융거래 기본약관
                                                    </label>
                                                <a href="#none" onclick="window.open('/protected/order/payment_agree_financial.html', '', 'width=460,height=382');return false;" class="view">
                                                    [내용보기]
                                                </a>
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="ec-base-table">
                                    <!-- 무통장입금 -->
                                    <table border="1" summary="" id="payment_input_cash" style="display: none;">
                                        <caption>무통장입금</caption>
                                        <colgroup>
                                            <col style="width:139px">
                                            <col style="width:auto">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row">입금자명</th>
                                                <td>
                                                    <input id="pname" name="pname" fw-filter="" fw-label="무통장 입금자명" fw-msg=""
                                                           class="inputTypeText" placeholder="" size="15" maxlength="20" value="" type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">입금은행</th>
                                                <td>
                                                    <select id="bankaccount" name="bankaccount" fw-filter="" fw-label="무통장 입금은행" fw-msg="">
                                                        <option value="-1">::: 선택해 주세요. :::</option>
                                                        <option value="국민은행:www.kbstar.com">
                                                            국민은행 99229922992292 주식회사
                                                        </option>
                                                    </select>
                                                        <p class="gBlank5 ">
                                                            <a href="#none" class="btnNormal" id="btn_bank_go">
                                                                은행사이트 바로가기
                                                            </a>
                                                        </p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- 실시간 계좌이체 -->
                                    <table border="1" summary="" id="payment_input_tcash" style="display: none;">
                                    <caption>실시간 계좌이체</caption>
                                        <colgroup>
                                            <col style="width:139px">
                                            <col style="width:auto">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <th scope="row">예금주명</th>
                                                    <td>
                                                        <input id="allat_account_nm" name="allat_account_nm" fw-filter=""
                                                               fw-label="무통장 입금자명" fw-msg="" class="inputTypeText"
                                                               placeholder="" size="26" maxlength="30" value="" type="text">
                                                    </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- 에스크로(가상계좌) -->
                                    <table border="1" summary="" id="payment_input_icash" style="display:none;">
                                        <caption>에스크로(가상계좌)</caption>
                                        <colgroup>
                                            <col style="width:139px">
                                            <col style="width:auto">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                            <th scope="row">에스크로</th>
                                                <td>
                                                    <input id="flagEscrowIcashUse0" name="flagEscrowIcashUse" fw-filter="" fw-label="에스크로(구매안전)" fw-msg="" value="T" type="checkbox">
                                                    <label for="flagEscrowIcashUse0"></label>
                                                    <label for="flagEscrowIcashUse0">에스크로(구매안전)서비스를 적용합니다.</label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <!-- 무통장입금, 카드결제, 휴대폰결제, 실시간계좌이체 -->
                                    <div id="pg_paymethod_info" class="payHelp" style="">
                                        <p id="pg_paymethod_info_shipfee" class="ec-base-help" style="display: none;">
                                            최소 결제 가능 금액은 결제금액에서 배송비를 제외한 금액입니다.
                                        </p>
                                        <p id="pg_paymethod_info_pg" class="ec-base-help">
                                            소액 결제의 경우 PG사 정책에 따라 결제 금액 제한이 있을 수 있습니다.
                                        </p>
                                    </div>

                                    <!-- 케이페이 -->
                                    <div id="kpay_info" class="payHelp" style="display: none;">
                                        <p class="ec-base-help">휴대폰에 설치된 케이페이 앱에서 비밀번호 입력만으로 빠르고 안전하게 결제가 가능한 서비스 입니다.</p>
                                        <p class="ec-base-help">안드로이드의 경우 구글 플레이, 아이폰의 경우 앱 스토어에서 케이페이 앱을 설치 한 후,<br>
                                            최초 1회 카드정보를 등록하셔야 사용 가능합니다.</p>
                                    </div>
                                    <!-- 카카오페이 -->
                                    <div id="kakaopay_info" class="payHelp" style="display: none;">
                                        <p class="ec-base-help">휴대폰에 설치된 카카오톡 앱에서 비밀번호 입력만으로 빠르고 안전하게 결제가 가능한 서비스 입니다.</p>
                                        <p class="ec-base-help">안드로이드의 경우 구글 플레이, 아이폰의 경우 앱 스토어에서 카카오톡 앱을 설치 한 후,<br>
                                            최초 1회 카드 및 계좌 정보를 등록하셔야 사용 가능합니다.</p>
                                        <p class="ec-base-help">인터넷 익스플로러의 경우 8 이상에서만 결제 가능합니다.</p>
                                        <p class="ec-base-help">카카오머니로 결제 시, 현금영수증 발급은 ㈜카카오페이에서 발급가능합니다.</p>
                                    </div>
                                </div>

                                <!-- 증명서류 발급 -->
                                <div class="agree">
                                    <table border="1" summary="">
                                        <caption>증명서류 발급</caption>
                                        <tbody class="receipt">
                                        <tr id="cashreceipt_display_area" class="" style="display: none;">
                                            <th scope="row">현금영수증 신청</th>
                                            <td>
                                                <div class="methods">
                                                    <input id="cashreceipt_regist0" name="cashreceipt_regist" fw-filter="" fw-label="현금영수증 신청 여부" fw-msg="" value="1" type="radio" autocomplete="off"><label for="cashreceipt_regist0">현금영수증 신청</label>
                                                    <input id="cashreceipt_regist1" name="cashreceipt_regist" fw-filter="" fw-label="현금영수증 신청 여부" fw-msg="" value="99" type="radio" checked="checked" autocomplete="off"><label for="cashreceipt_regist1">신청안함</label>                                </div>
                                                <div id="cashreceipt_form_area" class="ec-base-table cash" style="display: none;">
                                                    <table border="1" summary="">
                                                        <caption>현금영수증 발급 정보 입력</caption>
                                                        <colgroup>
                                                            <col style="width:129px">
                                                            <col style="width:auto">
                                                        </colgroup>
                                                        <tbody>
                                                        <tr>
                                                            <th scope="row">구분</th>
                                                            <td><input id="cashreceipt_user_type2__0" name="cashreceipt_user_type2" fw-filter="" fw-label="현금영수증 신청자 종류-신청여부라디오버튼과 함께" fw-msg="" value="0" type="radio" checked="checked" autocomplete="off"><label for="cashreceipt_user_type2__0">개인</label>
                                                                <input id="cashreceipt_user_type2__1" name="cashreceipt_user_type2" fw-filter="" fw-label="현금영수증 신청자 종류-신청여부라디오버튼과 함께" fw-msg="" value="1" type="radio" autocomplete="off"><label for="cashreceipt_user_type2__1">사업자</label></td>
                                                        </tr>
                                                        <tr class="mobile" id="cashreceipt_mobile_display_area">
                                                            <th scope="row">핸드폰 번호</th>
                                                            <td><select id="cashreceipt_user_mobile1" name="cashreceipt_user_mobile[]" fw-filter="" fw-label="현금영수증 개인-핸드폰 번호" fw-alone="N" fw-msg="">
                                                                <option value="010">010</option>
                                                                <option value="011">011</option>
                                                                <option value="016">016</option>
                                                                <option value="017">017</option>
                                                                <option value="018">018</option>
                                                                <option value="019">019</option>
                                                            </select>-<input id="cashreceipt_user_mobile2" name="cashreceipt_user_mobile[]" maxlength="4" fw-filter="" fw-label="현금영수증 개인-핸드폰 번호" fw-alone="N" fw-msg="" placeholder="" value="" type="text">-<input id="cashreceipt_user_mobile3" name="cashreceipt_user_mobile[]" maxlength="4" fw-filter="" fw-label="현금영수증 개인-핸드폰 번호" fw-alone="N" fw-msg="" placeholder="" value="" type="text"></td>
                                                        </tr>
                                                        <tr class="regno" id="cashreceipt_regno_display_area">
                                                            <th scope="row">사업자 번호</th>
                                                            <td><input id="cashreceipt_reg_no" name="cashreceipt_reg_no" fw-filter="" fw-label="현금영수증 사업자 번호" fw-msg="" placeholder="사업자번호" value="" type="text"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr id="tax_request_display_area" class="displaynone" style="display: none;">
                                            <th scope="row">세금계산서 신청</th>
                                            <td>
                                                <div class="methods">
                                                </div>
                                                <div id="tax_request_form_area" class="tax">
                                                    <ul class="info">
                                                        <li>- 세금 계산서 발행 신청을 위해 아래 모든 입력사항을 빠짐없이 입력하십시오.</li>
                                                        <li>- 신청양식 작성 후 사업자 등록증 사본을 팩스()로 보내주십시오.</li>
                                                    </ul>
                                                    <strong class="title">신청자 정보</strong>
                                                    <div class="ec-base-table">
                                                        <table border="1" summary="">
                                                            <caption>세금계산서 신청자 정보 입력</caption>
                                                            <colgroup>
                                                                <col style="width:129px">
                                                                <col style="width:auto">
                                                            </colgroup>
                                                            <tbody>
                                                            <tr>
                                                                <th scope="row">신청자 이름</th>
                                                                <td></td>
                                                            </tr>
                                                            <tr class="mobile">
                                                                <th scope="row">신청자 전화번호</th>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            <tr class="regno">
                                                                <th scope="row">E-Mail</th>
                                                                <td>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <strong class="title">사업자 정보</strong>
                                                    <div class="ec-base-table">
                                                        <table border="1" summary="">
                                                            <caption>세금계산서 사업자 정보 입력</caption>
                                                            <colgroup>
                                                                <col style="width:129px">
                                                                <col style="width:auto">
                                                            </colgroup>
                                                            <tbody>
                                                            <tr>
                                                                <th scope="row">사업자 구분</th>
                                                                <td>
                                                                    <div class="businessType">
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">사업자등록번호</th>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">상호(법인명)</th>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">대표자명</th>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">사업장 주소</th>
                                                                <td>
                                                                    <a href="#none" id="btn_search_tzipcode" class="btnNormal">주소검색</a><br>
                                                                    <br>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">업태</th>
                                                                <td></td>
                                                            </tr>
                                                            <tr>
                                                                <th scope="row">종목</th>
                                                                <td></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        </tbody>
                                    <!-- 청약철회방침 -->
                                        <tbody class="displaynone">
                                            <tr>
                                                <th scope="row">청약철회방침</th>
                                                <td>
                                                    <div class="textArea">
                                                        <textarea id="subscription_terms" name="subscription_terms" fw-filter="" fw-label="청약철회방침" fw-msg="" maxlength="250" cols="70" readonly="1">
                                                            <th:text="${agreementText 컨트롤러에 추가해야할 사항 있음}">
                                                        </textarea>
                                                            <a href="#none" onclick="winPop('/order/agreement/subscription.html')" class="btnAgree">
                                                                전체보기
                                                            </a>
                                                    </div>
                                                    <p><input id="subscription_agreement_chk0" name="subscription_agreement_chk" fw-filter="" fw-label="" fw-msg="" value="T" type="checkbox" disabled=""><label for="subscription_agreement_chk0"></label><label for="subscription_agreement_chk0"><strong>동의함</strong></label></p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <div class="total">
                                        <h4>
                                            <strong id="current_pay_name">카드 결제 (결제 수단에 따라 바뀌어야함)</strong>
                                            <span>최종결제 금액</span>
                                        </h4>
                                        <p class="price">
                                            <span></span>
                                            <input id="total_price" name="total_price" fw-filter="isFill" fw-label="결제금액" fw-msg=""
                                                   class="inputTypeText" placeholder=""
                                                   style="text-align:right;ime-mode:disabled;clear:none;border:0px;float:none;"
                                                   size="10" readonly="1" value="35000" type="text">
                                            <span>원</span>
                                        </p>
                                        <p class="paymentAgree" id="chk_purchase_agreement" style="display: none;">
                                            <input id="chk_purchase_agreement0" name="chk_purchase_agreement" fw-filter=""
                                                   fw-label="구매진행 동의" fw-msg="" value="T" type="checkbox" style="display: none;">
                                            <label for="chk_purchase_agreement0">결제정보를 확인하였으며, 구매진행에 동의합니다.</label>
                                        </p>
                                        <p class="regularDeliveryComment displaynone">
                                            상기 금액은 결제 시점의 금액과 <br>다를 수 있습니다.
                                        </p>
                                        <div class="ec-base-button gColumn">
                                            <a href="#none" id="btn_payment" class="btnSubmit sizeL"><span class="">결제하기</span><span class="displaynone">정기배송 신청하기</span></a>
                                        </div>
                                        <div class="mileage displaynone">
                                            <dl class="ec-base-desc gLarge right">
                                                <dt><strong>총 적립예정금액</strong></dt>
                                                <dd id="mAllMileageSum" class="txtWarn" style="">0원</dd>
                                            </dl>
                                            <dl class="ec-base-desc gLarge right">
                                                <dt>상품별 적립금</dt>
                                                <dd id="mProductMileage">0원</dd>
                                                <dt>회원 적립금</dt>
                                                <dd id="mMemberMileage">0원</dd>
                                                <dt>쿠폰 적립금</dt>
                                                <dd id="mCouponMileage">0원</dd>
                                            </dl>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </table>
        </div>
    </div>
</div>
</body>
</html>
