<!DOCTYPE html>
    <div th:replace="~{include/header :: header}"></div>
    <link rel="stylesheet" href="/css/shop-order-search.css">
<link rel="stylesheet" href="https://unpkg.com/air-datepicker/air-datepicker.css">
<body>


<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>주문 검색</p>
                    <h1>주문 내역 검색</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- search form -->
<div class="search-form-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="form-title">
                    <h2>주문 날짜로 검색</h2>
                    <p>검색할 날짜 범위를 선택하세요.</p>
                </div>
                <div class="search-form">
                    <form id="date-range-form">
                        <label for="date-range">날짜 범위: </label>

                        <input type="text" id="date-range" class="datepicker-here" data-range="true" data-multiple-dates-separator=" ~ " placeholder="날짜 범위를 선택하세요">
                        <button type="button" id="search-button" onclick="searchOrders()">검색</button>
                    </form>
                </div>
                <div class="order-list">
                    <h3>주문 목록</h3>
                    <div class="faq-member" id="aco-list">

                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" aria-expanded="false">
                                    <!-- 여기에 간략 정보 추가-->
                                </button>
                            </h2>
                            <div class="accordion-collapse collapse">
                                <div class="accordion-body">
								<span><!-- 여기에 상세정보 표시 --></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end search form -->

<div th:replace="~{include/footer :: footer}"></div>

<script src="https://unpkg.com/air-datepicker/air-datepicker.js"></script>
<script src="/js/shop-order-search.js"></script>
</body>
