<!DOCTYPE html>
    <div th:replace="~{include/header :: header}"></div>
    <link rel="stylesheet" href="/css/shop-review.css">

<body>

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>Product Review Board</p>
                    <h1>제품 사용 후기 게시판</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->

<!--PreLoader-->
<div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<div class="row">
    <div class="col-md-12 text-right view-toggle-buttons">
        <button class="btn btn-outline-primary toggle-view grid-view"><i class="fas fa-th"></i> </button>
        <button class="btn btn-outline-primary toggle-view list-view"><i class="fas fa-list"></i> </button>
    </div>
</div>

<!-- latest news -->
<div class="latest-news mt-150 mb-150 grid-view">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 news-item">
                <div class="single-latest-news">
                    <a href="/shop/review-single">
                        <img src="/img/products/product-img-1.jpg" alt="News Image 1" class="latest-news-img">
                    </a>
                    <div class="news-text-box">
                        <h3><a href="/shop/review-single">You will vainly look for fruit on it in autumn.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                        <a href="/shop/review-single" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-item">
                <div class="single-latest-news">
                    <a href="/shop/review-single">
                        <img src="/img/products/product-img-1.jpg" alt="News Image 1" class="latest-news-img">
                    </a>
                    <div class="news-text-box">
                        <h3><a href="/shop/review-single">A man's worth has its season, like tomato.</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                        <a href="/shop/review-single" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-item">
                <div class="single-latest-news">
                    <a href="/shop/review-single"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="/shop/review-single">(테스트) 하네스(빨강) - 산책이 너무 편해요</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> 네****</span>
                            <span class="date"><i class="fas fa-calendar"></i> 2024-07-07</span>
                        </p>
                        <p class="excerpt">
                            우리 강쥐는 산책을 너무 좋아해서 하루 2번 산책을 하는데 예전에 사용하던 하네스는 겨드랑이가 쓸려서 그 부분에 부드러운 천을 덧대서 사용해보기도 했답니다. 그러던 중 러브코코 GO OUT하네스를 사용하고는 그런 걱정은 하지 않아도 되었지요. 우리 강쥐에게 아주 편안함은 물론 멋짐까지 주는 GO OUT하네스 이번이 재구매입니다~^^</p>
                        <a href="/shop/review-single" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-item">
                <div class="single-latest-news">
                    <a href="#"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="#">Fall in love with the fresh orange</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                        <a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-item">
                <div class="single-latest-news">
                    <a href="#"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="#">Why the berries always look delecious</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2019</span>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                        <a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 news-item">
                <div class="single-latest-news">
                    <a href="#"><div class="latest-news-bg news-bg-1"></div></a>
                    <div class="news-text-box">
                        <h3><a href="#">Love for fruits are genuine of John Doe</a></h3>
                        <p class="blog-meta">
                            <span class="author"><i class="fas fa-user"></i> Admin</span>
                            <span class="date"><i class="fas fa-calendar"></i> 27 December, 2018</span>
                        </p>
                        <p class="excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus laborum autem, dolores inventore, beatae nam.</p>
                        <a href="#" class="read-more-btn">read more <i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pagination moved here -->
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="pagination-wrap">
                    <ul>
                        <li><a href="#">Prev</a></li>
                        <li><a href="#">1</a></li>
                        <li><a class="active" href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end latest news -->

<div th:replace="~{include/footer :: footer}"></div>

<script src="/js/shop-review.js"></script>

</body>
</html>
