<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/runner-list.css">
    <title>runner-list</title>
</head>
<body>

<div th:replace="~{include/tab-header::header}"></div>
<div th:replace="~{include/aniwhere-side :: side}"></div>

<div class="walk_top">
    <h2>러너 전체 목록</h2>
</div>

<!-- 러너 목록 -->
<div class="runner_container">
    <div class="runner_card">
        <div class="img_wrapper">
            <img src="/images/runner.jpg" alt="프로필사진" />
        </div>
        <div class="runner_info">
            <div class="runner_detail">
                <div class="detail_top">
                    <h3>러너 이름</h3>
                </div>
                <p>러너 한줄 소개</p>
                <p>간략한 개인 정보</p>
            </div>
            <div class="runner_cont">
                <a href="#" class="btn">코스 목록 보기</a>
            </div>
        </div>
    </div>
    <div class="runner_card">
        <div class="img_wrapper">
            <img src="/images/runner2.jpg" alt="프로필사진" />
        </div>
        <div class="runner_info">
            <div class="runner_detail">
                <div class="detail_top">
                    <h3>러너 이름</h3>
                </div>
                <p>러너 한줄 소개</p>
                <p>간략한 개인 정보</p>
            </div>
            <div class="runner_cont">
                <a href="#" class="btn">코스 목록 보기</a>
            </div>
        </div>
    </div>
    <div class="runner_card">
        <div class="img_wrapper">
            <img src="/images/runner3.png" alt="프로필사진" />
        </div>
        <div class="runner_info">
            <div class="runner_detail">
                <div class="detail_top">
                    <h3>러너 이름</h3>
                </div>
                <p>러너 한줄 소개</p>
                <p>간략한 개인 정보</p>
            </div>
            <div class="runner_cont">
                <a href="#" class="btn">코스 목록 보기</a>
            </div>
        </div>
    </div>
    <div class="runner_card">
        <div class="img_wrapper">
            <img src="/images/runner4.jpg" alt="프로필사진" />
        </div>
        <div class="runner_info">
            <div class="runner_detail">
                <div class="detail_top">
                    <h3>러너 이름</h3>
                </div>
                <p>러너 한줄 소개</p>
                <p>간략한 개인 정보</p>
            </div>
            <div class="runner_cont">
                <a href="#" class="btn">코스 목록 보기</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>
