
.page {

    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.page span {
    margin: 0 5px;
    cursor: pointer;
}

.page a {
    color: black;
}

.page span a.current {
    color: #5d9ce0;
    text-decoration: underline;
}

.page a i.fa-angle-left {
    margin-right: 10px;
}

.page a i.fa-angle-right {
    margin-left: 10px;
}
.card-body {
    min-height: 700px;
}

.card-body .w-100{
    min-height: 600px;
}


#orderDetail {
    width: 100%;
    table-layout: fixed;/
}

#orderDetail th {
    width: 30%; /* th 너비 조절 */
    text-align: left;
    padding: 8px;
    background-color: #f8f9fa;
    border-bottom: 1px solid #dee2e6;
}

#orderDetail td {
    width: 100%;
    padding: 8px;
    border-bottom: 1px solid #dee2e6;
}

.product-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
    padding-bottom: 10px;
}

.product-name {
    font-weight: bold;
}

.product-quantity, .product-price {
    font-size: 0.9em;
    color: #6c757d;
}

#orderStatus{
    display: flex;
    max-height: 60px;
}
.order-status-select{
    width: 150px;
}