body {
    padding-top: 50px;
}

.container {
    max-width: 970px;
}

.container-fluid{
    height: 800px;
}

.search_container{
    text-align: center;
}

.search_wrapper {
    position: relative;
    display: inline-block;
}

.search_input{
    width: 200px;
    padding: 12px 24px;
    background-color: transparent;
    font-size: 14px;
    line-height: 18px;
    color: #575756;
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    background-image: url("https://i.ibb.co/9NvzSL2/search.png");
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

.search_input:hover, .search_input:focus{
    padding: 12px 24px;
    outline: 0;
    border: 1px solid transparent;
    border-bottom: 1px solid #575756;
    border-radius: 0;
    background-position: 100% center;
}

.mem-view{
    margin-bottom: 1rem;
    display: flex;
    float: right;
    align-content: center;
    align-items: center;
}

.empty-info{
    padding: 3px;
}

.sel-text{
    margin: 0 10px 0 0;
}

.table{
   table-layout: fixed;
}

.table th:nth-child(1){
    width: 5%;
}

.table th:nth-child(2){
    width: 5%;
}

.table th:nth-child(3), th:nth-child(4){
    width: 11%;
}

.table th:nth-child(5){
    width: 19%;
}

.table th:nth-child(6){
    width: 23%;
}

.table th:nth-child(7){
    width: 14%;
}

.table th, .table td {
    vertical-align: middle;
    font-weight: 500; /* 글씨 굵기 조절 */
}

.fa.fa-angle-right, .fa.fa-angle-left{
    color: #5d9ce0;
}

.table-primary th {
    background-color: #007bff; /* 진한 파란색 헤더 */
    color: white;
}

.shadow {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.page {
    margin-bottom: 1rem;
    text-align: center;
}

.page span {
    margin: 0 5px;
    cursor: pointer;
}

.page a {
    background-color: #FFFFFF;
    padding: 5px 10px;
    color: #5d9ce0;
}

.page span a.current {
    background-color: #5d9ce0;
    padding: 5px 10px;
    color: white;
}

.page a i.fa-angle-left {
    margin-right: 10px;
}

.page a i.fa-angle-right {
    margin-left: 10px;
}

.container-fluid.page {
    left: 100px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
    height: 100px;
}

.body-wrapper>.container-fluid{
    top: 50px;
}

.pagination{
    justify-content: center;
    align-items: center;
}

.page-link.current{
    background-color: #5d9ce0;
    padding: 5px 10px;
    color: white;
}

.mail-send{
    font-size: 1rem;
    margin-top: 10px;
    float: right;
    background-color: #FFFFFF;
    border: 1px solid #5d9ce0;
    padding: 5px;
    color: #5d9ce0;
    transition: all .3s;
}

.mail-send:hover{
    background-color: #5d9ce0;
    border: 1px solid #5d9ce0;
    color: #FFFFFF;
    transition: all .3s;
}

/* 메일 양식 받는사람 */
.email-badge {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid #007bff;
    border-radius: 4px;
    background-color: #f8f8f7;
}
.email-badge .remove-email {
    color: #E74C3C;
    cursor: pointer;
    margin-left: 5px;
}

.ck-editor__editable_inline {
    z-index: 1051 !important;
}

.cke_dialog_ui_input_file{
    height: 100px;
}

.social-person{
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}