@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
}

a {
    color: black;
}

ul {
    list-style: none;
}

.product-management-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 80px 0 0 460px;
}

.title {
    background-color: #4b5366;
    font-weight: 600;
    font-size: 24px;
    color: white;
    letter-spacing: 3px;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.option-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.option{
    margin-left: auto;
}

.option-container select {
    width: 100px;
    height: 30px;
}

#total-count{
    display: flex;
    margin: 10px 0 10px 0;
}

#count{
    font-size: 12px;
    letter-spacing: 2px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

tbody{
    font-weight: 400;
}

tbody tr {
    height: 100px;
    font-size: 14px;
}

tbody tr td {
    vertical-align: middle;
}

.btn_area{
    display: flex
}

.productImg {
    text-align: center;
    display: flex;
    gap: 15px;

    img {
        width: 100px;
        height: 80px;
    }

    p{
        display: flex;
        text-align: center;
        align-items: center;
    }
}

.inventory{
    width: 40px;
    height: 30px;
    margin-right: 3px;
    align-content: space-between;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.actions button {
    margin: 10px 0;
}

#count {
    color: #555555;
}

.modify_btn, .product_del{
    padding: 5px;
    color: white;
    cursor: pointer;
}

.modify_btn{
    background-color: #4b5366;
}

.product_del{
    background-color: #b71c1c;
    border: 1px solid #b71c1c;
}

.clearfix{
    margin-top: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style-type: none;
}

.page-item {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.page-item a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 13px;
    min-width: 30px;
    min-height: 30px;
    color: #222222;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 2px !important;
    text-align: center;
    padding: 0 6px;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #4b5366;
    color: white;
}

.pagination li.active a:hover {
    background: #4b5366;
}

.pagination li.disabled i {
    color: black;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}