@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}


main {
    display: contents;
    min-height: 100vh;
    margin-top: 5rem;
}


.map-container {
    display: flex;
    align-items: center;
    margin: 3rem 1rem 0 1rem;
}

.map {
    flex-grow: 1;
    height: 100%;
    width: 100%;

}

.right-container {
    width: 25%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    overflow-y: auto; /* 세로 스크롤 추가 */
}

.info-container {
    position: relative;
    height: 80%;
}

/* 타이틀 스타일 */

.title {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 1rem;
}

/* 컨트롤 패널 스타일 */
.control-panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}
.btn {
    padding: 0.8rem 1.2rem;
    border: none;
    background-color: #4285f4;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: #1a73e8;
}

.btn:active {
    transform: scale(0.9);
    background-color: #0d47a1;
}

#reset {
    background-color: #f44336;
}

#reset:hover {
    background-color: #d32f2f;
}

#reset:active {
    background-color: #b71c1c;
}


/* 방향 정보 스타일 */
.directions-info {
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
    height: 60%;
    min-height: 60%;
    max-height: 60%; /* 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 추가 */
}

.segment-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: left;
    color: #000;
    font-weight: bold;
    background-color: #f0f0f0;
}

.segment-info:last-child {
    margin-bottom: 0;
}

.segment-info span {
    flex-grow: 1;
    text-align: center;
}

.total-d {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    text-align: left;
}

.form-group label {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

.form-group input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    border-radius: 5px;
    outline: none;
}

.form-group textarea {
    width: 100%;
    height: 6rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    border-radius: 5px;
    outline: none;
    resize: none;
}



/* 반응형 미디어 쿼리 */


/* 작은 화면 (모바일 디바이스) */
@media (max-width: 900px) {


    .side {
        display: none;
    }

    .map-container {
        flex-direction: column;
    }

    .map {
        width: 100%;
        height: 50vh; /* 화면 높이의 50% */
    }

    .right-container {
        width: 100%;
        height: 50vh; /* 화면 높이의 50% */
        padding: 1rem;
    }

    .title {
        font-size: 2rem;
    }

    .control-panel {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        width: 100%;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}

/* 중간 크기 화면 (태블릿) */
@media (min-width: 768px) and (max-width: 1023px) {


    .side {
        opacity: 0;
        transition: all 0.5s ease;
    }

    .map-container {
        margin: 0;
        flex-direction: row;
    }

    .map {
        width: 100%;
        height: 100vh; /* 화면 높이에 맞춤 */
    }

    .right-container {
        width: 30%;
        padding: 1.5rem;
    }

    .title {
        font-size: 2.5rem;
    }

    .control-panel {
        flex-direction: column;
        align-items: stretch;
    }

    .btn {
        width: 100%;
        margin-bottom: 1rem;
    }
}

/* 큰 화면 (데스크탑) */
@media (min-width: 1024px) {

    .map {
        flex-grow: 1;
        height: 100vh; /* 화면 높이에 맞춤 */
    }

    .right-container {
        width: 25%;
        padding: 2rem;
    }

    .info-container {
        position: relative;
        height: 80%;
    }

    .title {
        font-size: 2rem;
    }

    .control-panel {
        flex-direction: row;
        justify-content: space-between;
    }

    .btn {
        width: auto;
        margin: 0;
    }
}
