@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

body {
    background-image: url(../img/d14.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Noto Sans KR','Roboto', sans-serif;

}

.join {
    flex-direction: column;
    align-items: center;
}

.reg-text{
    align-items: center;
    display: flex;
    margin-left: 15px;
    color: #F28123;
}

.material-symbols-outlined {
    font-size: 5rem;
    color: #F28123;
}

.form-input{
    display: flex;
    width: 470px;
    padding: 16px;
    border-radius: 7px;
    border: 0;
    margin: 15px;
    font-size: 18px;
    height: auto;
    outline-color: rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, .95);
    color: #F28123;
    align-items: center;
    position: relative;
    padding-bottom: 30px; /* 아래쪽 패딩 추가 (메시지가 표시될 공간 확보) */
}

.reg-form{
    width: 80px;
    display: inline-block;
}

.in-text{
    border: none;
    background-color: #e2e2e1;
}

.address-inputs {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.address-inputs .in-text {
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.address-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 10px;
}

.address-buttons button {
    height: calc(3 * 54px / 3);
    white-space: nowrap;
    color: #FFFFFF;
    background-color: #F28123;
    border: none;
    font-size: 1.1rem;
}

.form-input-address{
    height: auto;
}

#join-btn{
    justify-content: center;
    background-color: #F28123;
    color: #FFFFFF;
}

.fa-solid.fa-right-to-bracket{
    font-size: 1.5rem;
}
.duplicate-message {
    display: block;
    font-size: 13px;
    color: red;
    margin-top: 5px;
    position: absolute; /* .duplicate-message를 absolute positioning으로 설정 */
    bottom: 0; /* 아래쪽 패딩에 맞춰 위치 조정 */
}

#email-local{
    width: 130px;
}

#email-domain-custom{
    width: 50%;
}

#userId, #userPwd, #email, #phone, #userName{
    width: 320px;
}

.email-check{
    color: #FFFFFF;
    background-color: #F28123;
    border: none;
    width: 80px;
    font-size: 1.1rem;
    margin-left: 9px;
}

.email-code{
    color: #FFFFFF;
    background-color: #F28123;
    border: none;
    width: 95px;
    font-size: 1.1rem;
    margin-left: 9px;
}

#auth-code-section{
    display: none;
}