@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', 'Roboto', sans-serif;
}
html {
    font-size: 16px;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a {
    color: #000;
}

li {
    list-style: none;
}

.footer {
    margin-top: auto;
    background: #f8f8f7;
    padding-bottom: 1rem;
}

.footer_container {
    padding: 30px 13% 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3.5rem;
    margin-top: auto;
    justify-content: center;
    height: 158px;
}

.footer_cont{
    margin: 0;
}

.footer_content {
    display: block;
}

.footer_content ul {
    list-style: none;
    padding: 0;
    width: 200px;
}

.footer_content h4 {
    margin-top: 5px;
    margin-bottom: 1rem;
    font-size: 15px;
}

.footer_content li {
    margin-top: 0;
    margin-bottom: 5px;
    margin-top: 0;
}

.footer_info {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: -0.1px;
    line-height: 1.5;
}

.footer_copy {
    font-size: 10px;
    font-weight: 400;
    text-align: center;
}

.footer_container li a {
    display: block;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.4s ease;
}

.content_mall a{
    display: block;
    transition: all 0.4s ease;
}

.footer_container li a:hover, .content_mall a:hover {
    transform: translateY(-3px) translateX(-5px);
    color: #febe98;
}

.footer_container p {
    font-size: 12px;
    line-height: 30px;
    margin: 0;
}

.footer_container p:first-child {
    font-size: 13px;
    margin-bottom: 10px;
}

@media (max-width: 1690px) {
    .footer_container {
        padding: 50px 5% 40px;
    }
}


