* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body a{
    text-decoration: none;
    color: black;
    list-style: none;
}

/* 공지사항 */
.notice_title{
    margin-top: 80px;
    font-weight: normal;
}

.notice_title h2{
    text-align: center;
    margin: 10px 10px;
}

.notice_title hr{
    margin: 0 auto 10px auto;
    width: 7%;
    color: lightgray;
}

.notice_write_btn {
    position: absolute;
    margin-left: 80.5%;
    margin-bottom: 50px;
    background-color: #febe98;
    font-size: 15px;

}

.notice_write_btn a{
    padding: 10px 20px;
    display: inline-block;
    color: white;
}

.notice_content table{
    margin: 60px auto;
    width: 58%;
    border-left: none;
    font-size: 16px;
}

.notice_content table, th, td{
    border-collapse: collapse;
    border: 1px solid darkgray;
    border-right-style: none;
    border-left-style: none;
}

.notice_content table th{
    background-color: #febe98;
    border-top: 2px solid darkgray;
    color: black;
    padding: 10px;
    cursor: text;
}

.notice_content table td{
    text-align: center;
    padding: 20px;
}

.notice_content table td:nth-child(3){
    text-align: left;
}

.notice_content table tr:hover{
    background-color: #e2e2e1;
    cursor: pointer;
}

/* 페이징 */
.page_area{
    text-align: center;
    align-content: center;

}

.page_form{
    align-items: center;
    display: flex;
    margin: 10px 5px 30px 5px;
    justify-content: center;
    padding: 5px 5px;
    font-size: 14px;
}

.page_form i{
    margin-right: 10px;
    margin-left: 10px;
}

.page_form p{
    font-weight: bold;
}

.page_form p{
    margin: 0 10px 0 10px;
}

/* 검색 처리 */
.search_area {
    text-align: center;
    padding: 0;
}

.search_form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 0;
    margin: 30px;
}

.search_form input{
    width: 200px;
    height: 30px;
}

.search_form button{
    width: 70px;
    height: 30px;
}

