@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: 400;
}

.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #f5f5f5;
    gap: 1rem;
}

.card-main {
    display: flex;
    margin-top: 2rem;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    text-decoration: none;
    color: inherit;
}

/* 카드 빛나게 하는 효과 */
.card-main::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(192, 192, 192, 0) 0%, rgba(192, 192, 192, 0.5) 50%, rgba(192, 192, 192, 0) 100%);
    transform: skewX(-25deg);
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 5;
}

.card-main:hover::before {
    left: 100%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

.card-img {
    flex-basis: 40%;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-content {
    flex-basis: 60%;
    padding: 40px;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.card-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.card-date {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #888;
}

.date {
    margin: 0;
}

.page {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.page span {
    margin: 0 5px;
    cursor: pointer;
}

.page a {
    color: black;
}

.page span a.current {
    color: #5d9ce0;
    text-decoration: underline;
}

.page a i.fa-angle-left {
    margin-right: 10px;
}

.page a i.fa-angle-right {
    margin-left: 10px;
}
