@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

.accordion-button:not(.collapsed) {
    background-color: #07212e !important; /* 변경하고 싶은 배경색 */
    color: white !important;
    border-color: white !important;
}

.accordion-button {
    background-color: #fff !important;
    color: #000 !important;
}

.owl-stage{
    display: flex;
    align-items: center;
    margin-left: 2px;
    justify-content: center;
}

.owl-nav.disabled, .owl-prev, .owl-next, .owl-dots{
    display: none;
}