/* General Styles */
body {
    color: #051922;
    background-color: #f5f5f5;
}

.form-title {
    text-align: center;
    margin-bottom: 30px;
}

.form-title h2 {
    color: #051922;
}

#date-range {
    width: 300px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.search-form {
    text-align: center;
    margin-bottom: 20px;
}

.search-form label{
    margin-right: 10px;
    font-size: 18px;
}

.search-form input{
    width: 250px;
    padding: 5px;
    font-size: 16px;
}

.search-form button {
    background-color: #F28123;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #051922;
}

/* Order List */
.order-list {
    text-align: center;
    margin-top: 20px;
}

.order-list h3 {
    color: #051922;
    text-align: left;
    font-size: 22px;
    margin-bottom: 20px;
}

.order-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.order-list li a {
    text-decoration: none;
    color: #051922;
    font-weight: bold;
}

#order-results {
    list-style: none;
    padding: 0;
}

#order-results li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
