@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

.accordion-header, .accordion-button:not(.collapsed) {
    background-color: #07212e !important; /* 변경하고 싶은 배경색 */
    color: white !important;
    border-color: white !important;
}

.accordion-button {
    background-color: #fff !important;
    color: #000 !important;
}

.order-details{
    width: 100%;
}

.del-box{
    display: flex;
    place-content: flex-end;
}

.del-check{
    margin-right: 5px;
}

#headingTwo{
    position: relative;
}

.new-del{
    position: absolute;
    right: 40px;
    cursor: pointer;
    top: 50%; /* 수직 중앙 정렬 */
    transform: translateY(-50%);
    font-size: 1rem;
}

.new-del:hover{
    color: #F28123;
}

#detailAddress{
    max-width: 600px;
}

#searchAddress{
    border: 1px solid #ddd;
    padding: 15px;
    width: 23.2%;
    border-radius: 3px;
}

#payment-button{
    width: 100%;
    background-color: #F28123;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    font-size: 1.2rem;
}

.cost{
    background-color: #f8f8f7;
}

#detail-table{
    margin-top: 20px;
    margin-bottom: 10px;
}

.checkout-details th{
    border-bottom: 1px solid #e2e2e1;
    padding: 18px;
    font-size: 15px;
    font-weight: 500;
}

.owl-stage{
    display: flex;
    align-items: center;
    margin-left: 2px;
    justify-content: center;
}

.owl-nav.disabled, .owl-prev, .owl-next, .owl-dots{
    display: none;
}

.sticky {
    position: sticky;
    top: 120px; /* 원하는 고정 위치 */
    z-index: 1; /* 다른 요소들보다 위에 표시되도록 z-index 조정 */
    transition: transform 0.6s ease-out;
}

.sticky.scrolled {
    transform: translateY(20px);
}
