
h2{
    font-weight: bolder;
    color: #898dbf;
}


form *{
    font-weight: bold;
}

form label{
    font-size: 18px;
    color:#8f9096;
}

form .form-control,form .form-control:focus{
    border-color:transparent;
    border-bottom-color: #bebcc1;
    box-shadow:none;
}

form .btn{
    border-radius: 0px;
    border-color: transparent;
}

.btn.btn-default{
    background: #ebebeb;
    color:#8f9096;
}

.btn.btn-primary{
    background: #010003;
    color:white;
}



.main > .row{
    height: 100%;
}


h2{
    font-weight: bolder;
    color: #898dbf;
}

form{
    width:550px;
}

form *{
    font-weight: bold;
}

form label{
    font-size: 18px;
    color:#8f9096;
}


form .btn{
    border-radius: 0px;
    border-color: transparent;
}

.btn.btn-default{
    background: #ebebeb;
    color:#8f9096;
}

.btn.btn-primary{
    background: #151515;
    color:white;
}




.main > .row{
    height: 100%;
}

body {
    background: #ffffff;
    background: -webkit-linear-gradient(to right, #f5f5f5, #fafafa);
    background: linear-gradient(to right, #ffffff, #ffffff);
    min-height: 120vh;
}

.col-md-9 {
    margin-left: 300px;
    margin-top: 100px;
}
.col-md-9.f1{
    margin-top: 100px;
    margin-left: 0px;
}


.container.content.clearfix {
    display: flex;
    align-items: center;
}
.main > .row {
    height: 100%;
}
.row{
    align-items: center;
}
.list-unstyled li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.price {
    margin-left: auto;
}

.text-muted {
    min-width: 100px;
}