@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    height: 100vh;
}

/* 헤더 스타일 설정 */
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    height: 10rem;
}

/*사이드바 탭 스타일 - 카테고리/브랜드 */

aside {
    position: fixed;
    top: 10rem;
    left: 0;
    width: 15%;
    height: 90%;
    background-color: #f4f4f4;
    padding: 1em;
    overflow-y: auto;
    z-index: 1000;
}


/* 사이드바 스타일 설정 */
.sidebar {
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    margin-bottom: 10px;
}
.sidebar ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.sidebar ul li a:hover {
    background-color: #ddd;
}

.tabs{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.tab-button{
    flex: 1;
    padding: 10px;
    cursor: pointer;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
}
.tab-button.active{
    background-color: #ddd;
}
.tab-content{
    display: none;
}
.tab-content.active{
    display: block;
}

/* 카테고리/브랜드 알파벳 필터 스타일 */
.alphabet-filter{
    margin-bottom: 10px;
}
.all-button{
    cursor: pointer;
    background-color: #f4f4f4;
}
.all-button:hover{
    background-color: #ddd;
}
.alphabet-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 15px; /* 버튼 사이의 간격 */
}
.alphabet-buttons button {
    border-radius: 5px; /*네모 모양으로 만들기 위해 약간의 둥근 모서리*/
    box-sizing: border-box;
}
.alphabet-buttons button:hover{
    background-color: #ddd;
}
.alphabet-filter button{
    flex: 0 1 calc(10% - 5px); /* 각 버튼이 일정한 너비를 가지도록 설정 */
    padding: 5px;
    cursor: pointer;
    background-color: #f4f4f4;
    border: none;
    outline: none;
    text-align: center;
    font-weight: bold;
}
.alphabet-filter button:hover{
    background-color: #ddd;
}

/* 헤더 => 로고랑 검색창 */
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* 헤더의 로고 */
.logo-search{
    display:flex;
    align-items: center;
}
.logo{
    margin-left: 1em;
    padding: 0.5em;
    width: 200px; /*로고 크기 조정*/
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
/* 헤더의 검색창 */
.search-bar{

    width: 200px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/*오른쪽 상단 로그인 부분..*/
.user-actions {
    margin-right: 2em;
    display:flex;
    align-items: center;
}
.user-actions a {
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.user-actions a:hover{
    text-decoration: underline;
}
.member-info {
    display:flex;
    align-items:center;
    margin-bottom: 1em;
}
.member-info a {
    color:white;
    text-decoration: none;
    margin-left: 1em;
}
