@import "https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR','Roboto', sans-serif;
}

html {
    font-size: 16px;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

/* span 태그 기본값으로 초기화, 필요에 따라 수정 */
span {
    position: static;
}

span:before, span:after {
    content: none; /* 가상 요소 제거 */
    position: static; /* 기본 값으로 초기화 */
    width: auto; /* 기본 값으로 초기화 */
    height: auto; /* 기본 값으로 초기화 */
    bottom: auto; /* 기본 값으로 초기화 */
    margin-top: 0; /* 기본 값으로 초기화 */
    background: none; /* 기본 값으로 초기화 */
    transition: none; /* 기본 값으로 초기화 */
}

span:hover:before, span:hover:after {
    background: none; /* 기본 값으로 초기화 */
    width: auto; /* 기본 값으로 초기화 */
    transition: none; /* 기본 값으로 초기화 */
}


/* Q&A 상단 */
.q_area{
    position: relative;
    width: 55%;
    margin: 80px auto;
    padding: 0 0 120px;
    display: block;
}

.q_area h1{
    margin-top: 10px;
    margin-bottom: 10px;
}

.q_area p{
    font-size: 14px;
}

.q_area h1, .q_text2{
    text-align: center;
}


/* Q&A 선택 창 */
.q_sample_list table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 30px 0 40px 0;
}

.q_sample_list table th{
    border: 1px solid #e2e2e1;
    width: 25%;
    text-align: center;
    padding: 10px;
}

.menu a{
    color: #222222;
    font-size: 1.1rem;
}

.menu-active {
    background-color: #febe98;
}

.menu-active a {
    color: #222222;
}

/* Q&A 아코디언 */
.q_accordion_container{
    border-top: 2px solid darkgray;
}

.q_accordion button{
    width: 100%;
    background-color: #f8f8f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 17px;
    color: #222222;
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid darkgray;
}

.q_accordion button i{
    transform: rotate(180deg);
}

.q_accordion p{
    background-color: #e2e2e1;
    font-size: 14px;
    max-height: 0;
    opacity: 0;
    line-height: 1.6;
    overflow: hidden;
    transition: all 0.3s;
}

.q_accordion p.show{
    max-height: 200px;
    opacity: 1;
    padding: 20px;
}

.q_accordion button i.rotate{
    transform: none;
}

.faq_write_btn {

    margin-top: 3rem;
    position: absolute;
    margin-left: 80.5%;
    margin-bottom: 50px;
    background-color: #febe98;


}

.faq_write_btn a{
    padding: 10px 20px;
    display: inline-block;
    color: white;
}
