<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.3/css/bootstrap.min.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/css/main-header.css">
    <link rel="stylesheet" href="/css/aniwhere-side.css">
    <link rel="stylesheet" href="/css/mypage-history.css">
</head>
<body>
<div th:replace="~{/include/tab-header :: header}"></div>
<div th:replace="~{/include/mypage-side :: side}"></div>

<div class="container-xl">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2>AniWhere <b>이용내역</b></h2>
                    </div>
                </div>
            </div>
            <div class="table-filter">
                <div class="row">
                    <div class="col-sm-3">
                        <div class="show-entries">
                            <label>
                                <select class="form-control">
                                    <option>5</option>
                                    <option>10</option>
                                    <option>15</option>
                                    <option>20</option>
                                </select>
                            </label>
                            <span>개씩 보기</span>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <button type="button" class="btn btn-primary"><i class="fa fa-search"></i></button>
                        <div class="filter-group">
                            <label>러너 프로필</label>
                            <input type="text" class="form-control">
                        </div>

                        <div class="filter-group">
                            <label>이용현황</label>
                            <label>
                                <select class="form-control">
                                    <option>모두</option>
                                    <option>산책완료</option>
                                    <option>결제취소</option>
                                    <option>산책예정</option>
                                </select>
                            </label>
                        </div>
                        <span class="filter-icon"><i class="fa fa-filter"></i></span>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                <tr>
                    <th>코스 No.</th>
                    <th>러너 프로필</th>
                    <th>거리</th>
                    <th>사용일시</th>
                    <th>이용현황</th>
                    <th>이용요금</th>
                    <th>상세내역</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td><a href="#"><img src="/examples/images/avatar/1.jpg" class="avatar" alt="runner_image"> 홍길동</a></td>
                    <td>1.8km</td>
                    <td>2024/05/11</td>
                    <td><span class="status text-success">&bull;</span> 산책완료</td>
                    <td>35,000원</td>
                    <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td><a href="#"><img src="/examples/images/avatar/2.jpg" class="avatar" alt="runner_image"> 유관순</a></td>
                    <td>2.2km</td>
                    <td>2024/05/09</td>
                    <td><span class="status text-info">&bull;</span> 산책예정</td>
                    <td>12,560원</td>
                    <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td><a href="#"><img src="/examples/images/avatar/3.jpg" class="avatar" alt="runner_image"> 김유신</a></td>
                    <td>2.2km</td>
                    <td>2024/05/09</td>
                    <td><span class="status text-danger">&bull;</span> 결제취소</td>
                    <td>27,000원</td>
                    <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td><a href="#"><img src="/examples/images/avatar/4.jpg" class="avatar" alt="runner_image"> 이성계</a></td>
                    <td>2.1km</td>
                    <td>2024/04/24</td>
                    <td><span class="status text-success">&bull;</span> 산책완료</td>
                    <td>19,000원</td>
                    <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td><a href="#"><img src="/examples/images/avatar/5.jpg" class="avatar" alt="runner_image"> 구운몽</a></td>
                    <td>3.1km</td>
                    <td>2024/03/22</td>
                    <td><span class="status text-success">&bull;</span> 산책완료</td>
                    <td>31,000원</td>
                    <td><a href="#" class="view" title="View Details" data-toggle="tooltip"><i class="material-icons">&#xE5C8;</i></a></td>
                </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <div class="hint-text"> <b>25</b> 개의 이용내역 중 <b>5</b> 개 표시중</div>
                <ul class="pagination">
                    <li class="page-item disabled"><a href="#">이전</a></li>
                    <li class="page-item"><a href="#" class="page-link">1</a></li>
                    <li class="page-item"><a href="#" class="page-link">2</a></li>
                    <li class="page-item"><a href="#" class="page-link">3</a></li>
                    <li class="page-item active"><a href="#" class="page-link">4</a></li>
                    <li class="page-item"><a href="#" class="page-link">5</a></li>
                    <li class="page-item"><a href="#" class="page-link">6</a></li>
                    <li class="page-item"><a href="#" class="page-link">7</a></li>
                    <li class="page-item"><a href="#" class="page-link">다음</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

</body>

</html>
